//body
body {
  background-color: $body-bg;
  color: $text-color;
  &.layout-boxed-md{
        background: #333333;
    }
}
//topbar
#topbar{
    border-top: 5px solid $border-color;
    border-bottom: $topbar-border;
  .links{
    li{
      a{
        color: $text-color;
        &:hover{
          color: $theme-color-default;
        }
      }
    }
  }
}
//cart
#cart {
  .title-cart{
    color: $theme-color-default;
    &:before{
     background-color: $cart-icon-bg;
    }
  }
}

//item
.product-block .name a{
  color: $product-name-color;
}
.price{
  color: $product-price-color;  
}
.product_list {
  .quick_bottom{
    a{
       color: $white;
    } 
  }
  .product-block:hover .quick_bottom{
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $product-border-color;
  }
}

//widget-tabs
.box-line{
  &:before{
    background-color: #896b5a;
  }
  .content-producttabs {
    .widget-tabs{
        background:#333;
        li{
          &.active,
            &:hover{
              a{
                color: #896b5a;
              }        
            }
        }
    }
  }
}
//widget-html
.Home-product{
   .#{$block-heading-selector}{   
      &:before{
          background-color: $theme-color-default; 
        }
        >div{
           background: $body-bg;
           color: $white;
        }
   }
   .blogs{
      .date-time{
        color: #767676;
      }
      .blog-title{
        font-weight: normal;
        color: $white;
      }
   }
}
.footer-support .openning-time .widget-html{
    border-top: 1px solid $base-border-color;
}
.box-services{
   .media-body .h4{
     color: #ddd;
    }
    .iconbox {
      border: 2px solid #ddd;
      .fa{
      color: #ddd;
      }
    }
} 

#manucarousel{
  .logo-manu{
     border: 1px solid $base-border-color;
   &:hover{
    border: 1px solid $border-color;
   }
  }
}
.footer-support .footer-line{
   border-top: 1px solid $base-border-color;
}
.footer-contact .widget-html{
    border-top: 1px solid $base-border-color;
}

//base
a{
  color: $base-text-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
//socical
#social_block ul li a{
  border: 1px solid #ddd;
  &:before{
    color: #ddd;
  }
}
//footer
.footer-container .block .title_block{
  color: $white;
}
.footer-nav .container{
  border-top: $footer-nav-border; 
  border-bottom: 5px solid $border-color;
}
.footer-center{
  .container > .inner{
      border-bottom: 2px solid $footer-center-outside-border;
    }
}  

.nav-tabs.page-product-heading{
    border-bottom: 1px solid transparent;
    li{
      a{
        color: $theme-color-default;
      }
        &.active,
        &:hover{
          background: $block-module-heading-bg;
        border-top: 1px solid $base-border-color;
        border-left: 1px solid $base-border-color;
        border-right: 1px solid $base-border-color;
        margin-bottom: -2px;
        a{
          background: transparent;
          color: $theme-color-default;
        }
        }
        &:first-child{
          border: none;
          &.active,
          &:hover{
            background: $block-module-heading-bg;
          border-top: 1px solid $base-border-color;
          border-left: 1px solid $base-border-color;
          border-right: 1px solid $base-border-color;
          margin-bottom: -2px;
            &:before{
                left: 0;
              }
          }
        }
    }
}
.more_info_block .tab-content{
   border: 1px solid $base-border-color;
   color: #ddd;
}
.pb-center-column h1{
  color: $theme-color-default;
}

.box-cart-bottom{
  background: $theme-color-default;
  .btn-outline{
    background: transparent;
    border: none;
  }
  &:hover{
    background: #896b5a;
    color: $white;
  }
}
.box-wishlist-bottom{
  .buttons_bottom_block{
    border-bottom: 1px solid $base-border-color;
    border-top: 1px solid $base-border-color;
    padding: 2px 0px;
    &:hover{
      background: #f8f8f8;
       #wishlist_button{
           color: $black;
         &:before{
          color: $black;
         }
      }
    }
    a{
      &:hover{
        color: $black;
      }
    }
    #wishlist_button{
      &:before{
        color: #fff;
      }
    }
  }
}

#quantity_wanted_p .btn{
  color: #acacac;
}
//productscategory
.blockproductscategory{
  .#{$block-heading-selector}{
    background: transparent;        
    color: $white;
       &:before{
            position: absolute;
            content:"";
            width: 100%;
            background-color:#896b5a;
        }
        >div{
           background: #333;
        }

   }

}

// form
.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $theme-color-default, $theme-color-default, $white, $theme-color-secondary , $theme-color-secondary);
} 
.btn-outline{
  @include button-variant-outline($white, $theme-color-secondary, $theme-color-secondary, $btn-default-color, $theme-color-default, $theme-color-default);
} 




// Contextual variations
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}


// block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
.#{$block-prefix}-highlighted {
    @include block-variant($block-module-highlighted-border, $white, $block-module-highlighted-bg, $block-module-highlighted-bg);
}

//slidebar
.sidebar {
  .product-block{
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    border-color: $product-border-color;
     .price{
      color: #896b5a;
    }
  }
}




#header-main{
   .container > .inner{
        @include container-layout-variant($headermain-color, $headermain-bg, $headermain-color, $headermain-color-hover);   
   }
}

##{$app-brand-prefix}-mainnav {
    .container > .inner{
        @include container-layout-variant($mainnav-color, $mainnav-bg, $mainnav-color, $mainnav-color-hover);   
        
   }
}

.footer-top{
    .container > .inner{
        @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, $footer-top-color-hover);        
    }
   
}
.footer-center{
   .container > .inner{
    @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-color, $footer-center-color-hover);   
    
   }
}   
.footer-bottom{
   .container > .inner{
    @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-color, $footer-bottom-color-hover);   
    
   }
}

.footer-nav{ // copyright
   .container > .inner{
    @include container-layout-variant($footer-nav-color, $footer-nav-bg, $footer-nav-color, $footer-nav-color-hover);   
    
   }
}
#powered{
  color: #ddd;
    span{
        color: $power-link-color;
    }
}

// Tab nav pills
.block{
  .widget-tabs{
    li{
      position: relative;
      &.active,
      &:hover{
        a{
          color: $theme-color-default;
        }
        &:before {
          background-color: $theme-color-default;
        }  
      }
    }
  }
}

.widget{
  .widget-html{
    .free-ship{
      color: $theme-color-default;
    }
    .box-outer{
      .reassurances-center {
        &:hover{
          color: $theme-color-default;
          p{
            color: $theme-color-default;
          }
        }
      }
    }
  }
}


//prestashop page
.content_sortPagiBar{
	.display{
    .selected{
      a{               
        .fa {
             color: $theme-color-default; 
        }  
      }
    } 
	}
} 

// BREADCRUMB
.breadcrumb {
	color: $breadcrumb-active-color;  
  .navigation-pipe:before{
    color: #ddd;
  }     
	a {
    color: #ddd;
	  &:hover {
	      color: $breadcrumb-active-color;
	  }
	}
}
//category
.page-subheading{
  border-bottom: 1px solid $base-border-color;
  color: $base-heading-color;
}
.page-heading{
  color: $theme-color-default;
}
.subcategories{
  border: 1px solid $base-border-color;
}
.content_sortPagiBar{
   border: 1px solid $base-border-color;
}
// Pagination
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  border-color: $theme-color-default;
  color: $theme-color-default;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
  border-color: $theme-color-default;
  color: $theme-color-default;
}

//menu
.#{$app-brand-prefix}-megamenu{
   border-bottom: 2px solid $border-color;
   border-top: 1px solid $base-border-color;
   .navbar-nav{
     >li{
        >a{
          color: $megamenu-link-color;
          &:hover,&:focus,&:active{         
             color: $megamenu-link-hover-color;        
          }
       }
        &.active,
        &:hover{
          > a{
            color: $megamenu-link-hover-color;        
            border-right: 1px solid $base-border-color;
            border-left: 1px solid $base-border-color;
            
          }
        }
        > .caret{
          color: $megamenu-link-color;
      } 
      &:hover > .caret, &:active > .caret{
        color: $megamenu-link-hover-color;
      }
     }
     
   }
}
div.verticalmenu{		
	.navbar-nav{						
		> li{
			> a{	
				&:hover,&:focus{
					.menu-title{
						color: $vertical-menu-link-hover-color;
					}					
					color: $vertical-menu-link-hover-color;
				}				
			}
			&:hover{
				> a{
          color: $vertical-menu-link-hover-color; 	
				}			
        .caret{
          &:before{
            color: $theme-color-default;
          }
        }		
			}
		}
	}
  ul{
    li{
      a{
        &:hover,&:focus{
          .menu-title{
            color: $vertical-menu-link-hover-color;
          }         
          color: $vertical-menu-link-hover-color;
        }
      }
    }
  }
  .dropdown-menu{
    ul{
      li{
        a{
          &:hover{
            color: $vertical-menu-link-hover-color;
          }
        }
      }
    }
  }
}
.navbar-header .navbar-toggle{
  background: $theme-color-default;
}
// Product List
.product-block{
  &:hover{
    &:after{
      background-color: $theme-color-default;
    }
    
  }
	.name{
		a {                                 
      &:hover{
        color: $product-name-hover-color;
      }
    }
	}
}
.box-button{
  > div{
    a{
      color: $product-icon-color;
      &:hover{
          background: $product-icon-bg-hover-color;     
      }             
    }
  }
}


// Mainmenu
.#{$app-brand-prefix}-megamenu {  
  
  /* level 2 */
  .dropdown-menu{         
    li{
      a{            
        &:hover{
          color: $megamenu-sub-link-hover-color;            
          .fa{
            color: $megamenu-sub-link-hover-color;          
          }
        }
      }       
    }   
  }
  .dropdown{    
    &:hover{
      > a{    
      color: $megamenu-link-hover-color;
        .fa{
          color: $megamenu-link-hover-color;
        }                 
      }
    }   
  }
}

.#{$app-brand-prefix}-widget{
  .product-block{
    .product-meta{
      .name{
        a{
          &:hover{
            color: $product-name-hover-color;
          }
        }
      }
    }
  }
}


// off canvas menu
#off-canvas-nav .offcanvas-mainnav{
  background-color: $theme-color-default;
}

// Product Detail
#short_description_block {
    color: $description-color; 
  }

// Newsletter
#footer #newsletter_block_left.block input.btn{
  background-color: $theme-color-default;
}

// Social
#social_block {
  ul{
    li{
      &:hover{
        a{
          border-color: $theme-color-default;
          &:before{
            color: $theme-color-default;
          }
        } 
      }
    }
  }
}
//newletter
#newsletter_block_left{
    background: url("#{$image-theme-base-path}email.png") no-repeat 91px -106px #414141;
    border-top: 1px solid #896b5a;
    .title_block{
       color: $white;
    }
}
#leo-paneltool{
  color: $black;
}


//slider
.bannercontainer .tp-leftarrow.default {
  background: url("#{$image-theme-base-path}large_left.png") no-repeat top left;
    width: 40px;
    height: 73px;
  }
  .bannercontainer .tp-rightarrow.default{
     background: url("#{$image-theme-base-path}large_right.png") no-repeat top left;
       width: 40px;
    height: 73px;
  }





//Fullslide

   .header-fullslide{
  .navbar-fixed-top{
    background: #333!important;
  }
  .leo-megamenu{
       &:before{
        border-bottom: 2px solid #896b5a;
        border-top: 1px solid #4d423b;
    }
      &:after{
      border-bottom: 2px solid #896b5a;
      border-top: 1px solid #4d423b;
      }
  }
}
// Header Modern
.header-modern{ 
  #topbar{

    &:before{
        border-top: 5px solid #896b5a;
        border-bottom: $topbar-border;
        height: 58px;
    }
    &:after{
      border-top: 5px solid #896b5a;
      border-bottom: $topbar-border;
    }
  }

  #header{
    background: #333!important;
    border-bottom: 2px solid #896b5a;

  }
}
//category
#categories_block_left {
  .block_content{
    border: 1px solid $theme-color-default;
  }
  .title_block{
    background-color: $theme-color-default;
  }
}
/**************************************Header-default**********************************/
.header-default{
  #header{
    .container{
        background: $body-bg;
    }
  }
}


