<fieldset style="width: 400px;margin: 30px -10px 0px 0px;">

<legend>{l s='Bitcoin' mod='bitcoin'}</legend>

<div id="info" border: solid red 1px;">
<table>
<tr><td>{l s='Bitcoin Address attached' mod='bitcoin'} :</td> <td>{$address}</td></tr>
<tr><td>{l s='Bitcoin Waiting' mod='bitcoin'} :</td> <td>{$waiting}</td></tr>
<tr><td>{l s='Bitcoin Validate' mod='bitcoin'} :</td> <td>{$validate}</td></tr>
<tr><td>{l s='State' mod='bitcoin'} :</td> <td>{$state}</td></tr>
</table>
</div>

</fieldset>
