<p class="payment_module">
	<a href="{$this_path_ssl}payment-validation.php" title="{l s='Pay by bitcoin' mod='bitcoin'}">
		<img src="{$this_path_ssl}img/bitcoin.png" alt="{l s='Pay by bitcoin' mod='bitcoin'}" width="86" height="49" />
		{l s='Pay by bitcoin (order process will be longer)' mod='bitcoin'}
	</a>
</p>
