@import "compass";
@import "theme_variables";


#topbar{
  .widget{
    .widget-html{
      p{
        padding: 17px 0;
        margin-bottom: 0;
      }
    }
  }
}
.widget-html{
  .widget-inner{
    @include rtl-text-align-left();
  }
  .widget-title-sub{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999999;
    font-family: $font-family-tertiary;
  }
}
.banner{
  .row{
    margin: 0;
    .widget{
      padding: 0;
      img{
        width: 100%;
      }
    }
  }
}
// Tab nav pills

.box-line{
   text-align: center;
  &:before{
      position: absolute;
      content:"";
      width: 100%;
      @include rtl-left(0px);
      top: 28px;
      z-index: 9;
      height: 1px;
      background-color: black;
    }
   .content-producttabs{
 
  .widget-tabs{
    position: relative;                                                             
    text-transform: $block-module-heading-transform;
    font-family: $block-module-heading-font-family;       
    padding: 20px 0px 30px 30px; 
    font-size: $block-module-heading-font-size;
    margin: 0 0 $grid-gutter-width;  
    display: inline-block;
    background: $white;
    z-index: 20;
    
    li{
      position: relative;
      padding: 0px 20px 0px 0px; 
      a{
        color: #b9b9b9;
        display: list-item;
        list-style-type: disc;
      }
      &:first-child{
        border: none;
        padding-left: 0px;
        &.active,
        &:hover{
          &:before{
            @include rtl-left(0);
          }
        }
      }
      &.active,
      &:hover{
        a{
          color: #222;
        }        
      }
    }
  }
}

}

// Slideshow
.widget.slide_fullwidth{
  background-image: url("images/bg_slide.png");
  background-attachment: scroll;
  background-size: auto;
  background-position: 50% 0%;
  background-repeat: repeat-x;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px 1000px;
  @include rtl-margin-left(-1000px);
  overflow: hidden;
  @include box-sizing(content-box);
  float: none;
}

.footer-center{
  .widget.html-contact{
    .widget-html{
      @include rtl-border-left(1px solid #333);
    }
  }
}

.footer-support{
    padding-top: 30px;
    .openning-time{
      .widget-html{
         border-top: 1px solid $base-border-color;
       @include rtl-margin-right(20px);
      }
      
    }
   .footer-line{
       border-top: 1px solid $base-border-color;
    .bullet {
    li {
          display: block;
          position: relative;
          @include rtl-margin-right(30px);
          @include rtl-padding-right(20px);
          line-height: 18px;
          @include transition(all ease 0.2s);
           
          a {
            @include rtl-padding-left(0px);
            font-size: $font-size-base;
            &:before {
                  display: block;
                  content: "\f178";
                  font-family: $font-icon;
                  font-size:  $footer-icon-font-size;
                  position: absolute;
                  @include rtl-right(0px);
                  top: 8px;
            }
            
          }
        &:hover{
            @include rtl-padding-left(10px);
            font-style: italic;
            @include transition(all ease 0.2s);
        }
    }
  }
}
}

.footer-contact{
   .widget-html {
      border-top: 1px solid $base-border-color;
      @include rtl-margin-left(20px);
   }
}

//footer-html
.box-services{
    .iconbox{
      @include border-radius(100%);
      border: 2px solid $black;
      width: 35px;
      height: 35px;
      @include rtl-margin-right(20px);
      .fa{
         font-size: 20px;
         padding: 8px;
         color: $black;
      }
    }
   .media-body{
      padding-top: 5px;
     .h4{
       font-family: $font-family-septenary;
       color: $black;
     }
   }
}

//Footer-contact
.widget-html {
   .block_content{
     address{
        line-height: 22px;
     }
     .logo-ft{
         padding-top: 20px;
     }
     .blogs{
        .caption{
           .date-time{
            font-style: italic;
           }
           .blog-title{
             font-size: $font-size-base;
             padding-bottom: 10px;
             font-family: $font-family-secondary;
             font-weight: bold;
           }
           .link{
             font-style: italic;
             font-size: $font-size-base - 1;
             position: relative;
             &:before{
                  display: block;
                  content: "\f178";
                  font-family: $font-icon;
                  font-size:  $footer-icon-font-size;
                  position: absolute;
                  @include rtl-right(-20px);
                  top: 2px;

             }
           }
        }
     }
   }
}

//block-title
.Home-product{
   .#{$block-heading-selector}{
    background: transparent;
    position: relative;                                                             
    font-family: $block-module-heading-font-family;    
    padding: 30px 0px 15px 0px;         
    font-weight: normal;
    margin: 0 0 20px;  
     text-align: center;
       &:before{
            position: absolute;
            content:"";
            width: 100%;
            background-color: $black;
            @include rtl-left(0px);
            top: 38px;
            z-index: 99;
            height: 1px;

        }
        >div{
           background: $white;
           position: relative;
           display: inline-block;
           padding: 0 20px;
           z-index: 100;
        }

   }
}
//Manufaceture
#manucarousel{
  .logo-manu{
     border: 1px solid $base-border-color;
   &:hover{
    border: 1px solid $border-color;
   }
  }
}

//manufacture
.widget-manufacture {
  margin-top: 10px;
  .carousel  { 
     min-height: 82px;
    }
  .carousel-control {
    cursor: pointer;
    height: 30px;
    position: absolute;
    top: 23px !important;
    width: 28px;
    z-index: 100;
    text-indent: -9999px;
    &.left { 
      @include rtl-left(9px);
      background: url("images/button-previous.png") no-repeat  1px -52px transparent;

     }
    &.right { 
      right :9px;
      @include rtl-right(9px);
      background: url("images/button-next.png") no-repeat 1px 0px transparent;
      left: auto;
        }
  }
.owl-theme {
  .owl-controls{ 

  .owl-buttons{
      div{
        color: #FFF;
        display: inline-block;
        zoom: 1;
        *display: inline;/*IE7 life-saver */
        padding: 3px 10px;
        font-size: 12px;
        filter: Alpha(Opacity=50);/*IE7 fix*/
        z-index: 9999;
        width: 30px;
        position: absolute;
        top: 32%;
        height: 30px;
        @include opacity(1px);
        text-indent: -9999px;
        @include opacity(1);

      }
      .owl-prev{
          background: url("images/button-previous.png") no-repeat  1px 0px transparent;
          @include rtl-right(0px);
      }
       .owl-next{
          @include rtl-left(0px);
          background: url("images/button-next.png") no-repeat 0 -53px transparent;
       }
  } 
}
}


  
}
// widget-html
.widget-html{
  .image-box{
    margin-top: 30px;
    padding-bottom: 20px;
  }
}
.Home-product .banner{
  padding-top: 12px;
}