@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/

@media (min-width: $screen-md) { // min 991px
	#subcategories .row > div:nth-child(4n+1),
	.first-in-line {
		clear: both;
	}
}
@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
	#subcategories .row > div:nth-child(2n+1),
	.first-item-of-tablet-line {
		clear: both;
	}
}

#blockpack {
	ul {
		>li {
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/
.product_list{
	.nopadding{
		padding: 0;
	}
	.nomargin{
		margin: 0;
	}
	&.nomargin{
		margin: 0;
	}
	@include box-sizing(border-box);
	.color-list-container {
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
}
.product_list.list {

	.product-block{
		@include rtl-text-align-left();
		.product-meta{
			.product-desc{
				display: block;
				text-transform: none;
				font-size: 15px;
			}
		}
	}
	
	> .ajax_block_product {
		padding-bottom: 20px;
		.left-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}
		}
		.product-image-container {
			@media (max-width: $screen-xs - 1) { // max 479px
				max-width: 290px;
				margin: 0 auto;
			}
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						// display: block;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}
/*******************************************************
Product list(Index page) Styles 
********************************************************/

/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}

/*******************************************************
Product list 
*******************************************************/
.product-container .product_img_link .replace-2x {
  @include transform(rotateX(0deg) rotateY(0deg));
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);
  @include transition(all 0.4s ease-in-out);
}
.product-container:hover .product-additional {
  @include transform(rotateX(0deg) rotateY(0deg));
}
.product-container .product-additional {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  @include transform(rotateY(-180deg));
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);
  @include transition(all 0.6s ease-in-out);
}

