@import "compass";
@import "theme_variables";

/* primary_block ***************************************************************************** */

.primary_block {
	margin-bottom: 40px;
}
.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-family-secondary;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
}

img{
	max-width: 100%;
	height: auto;
}

.page-product-box{
	.page-subheading{
		position: relative;
		border-top: 1px solid $border-color;
		padding: 15px 0;
		&:before {
            height: 3px;
            width: 35px;
            background-color: $theme-color-default;
            bottom: 0;
            left: 0;
            content: "";
            position: absolute;
        }  
        &:after{
            background-color: $border-color;
            height: 1px;
            width: 100%;
            top: 2px;
            left: 0;
            content: "";
            position: absolute;
        }
	}
}

.nav-tabs.page-product-heading{
    position: relative;                                                             
    text-transform: $block-module-heading-transform;
    font-family: $block-module-heading-font-family;    
    font-size: $block-module-heading-font-size;
    display: inline-block;
    width: 100%;
    li{
      	position: relative;
      	border-left:$block-module-heading-border;
      	@include rtl-padding(10px, 10px, 5px, 15px); 
      	border-left: 1px solid transparent;
      	border-right: 1px solid transparent;
      	&.active,
      	&:hover{
      		background: $block-module-heading-bg;
    		border-top: 1px solid $base-border-color;
    		border-left: 1px solid $base-border-color;
    		border-right: 1px solid $base-border-color;
    		margin-bottom: -2px;
      	}
      	a{
        	color: $black;
        	padding: 0;
        	border: none;
        	&:hover,
        	&:focus{
        		border: none;
        		background: none;
        	}
      	}
      	&:first-child{
	        border: none;
	        &.active,
	        &:hover{
	        	background: $block-module-heading-bg;
	    		border-top: 1px solid $base-border-color;
	    		border-left: 1px solid $base-border-color;
	    		border-right: 1px solid $base-border-color;
	    		margin-bottom: -2px;
	        	&:before{
	            	left: 0;
	          	}
	        }
      	}
    }
}

.more_info_block{
	.tab-content{
		margin-bottom: 20px;
		border: 1px solid $base-border-color;
		padding: 20px;
		margin-top: -4px;
	}
}

/* .pb-left-column ***************************************************************************** */

.pb-left-column {
	#image-block {
		position: relative;
		margin-bottom: 10px;
		#view_full_size {
			display: block;
			cursor: pointer;
			@include rtl-text-align-left();
			a {
				display: inline-block;
			}
			.span_link {
				position: absolute;
				bottom: 5px;
				@include rtl-right(32px);
				display: block;
				padding: 4px;
				text-align: center;
				line-height: 20px;
				&:after{
					font-family: $font-icon;
					color: #c0c0c0;
					font-size: 20px;
					line-height: 20px;
					content: "\f00e";
					font-weight: normal;
					@include rtl-margin(0,0,0,2px);
				}
				&:hover:after{
					color: $white;
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
	}
	/* miniatures */
	#views_block {
		position: relative;
	}
}
#thumbs_list {
	overflow: hidden;
	@include rtl-float-left();
	width: 360px;
	@include rtl-margin-left(30px);
	ul#thumbs_list_frame {
		list-style-type: none;
		@include rtl-padding-left(0);
		overflow: hidden;
		margin: 0;
		height: 112px;
	}
	li {
		@include rtl-float-left();
		height: 112px;
		width: 82px;
		cursor: pointer;
		@include rtl-margin-right(8px);
		line-height: 0;
		@include box-sizing(border-box);
		&:first-child{
			@include rtl-margin(0,9px,0,0);
		}
		&.last{
			@include rtl-margin-right(0);
		}
		a {
			display: block;
			@include transition(all 0.3s ease);
			@include box-sizing(border-box);	
			display: block;
			text-align: center;
		}
		img {
			@include box-sizing(border-box);
		}
	}
}
.primary_block {
	span.view_scroll_spacer {
		@include rtl-float-left ();
		width: 20px;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		@include rtl-left(0);
		z-index: 1000;
	}
}
#view_scroll_left,
#view_scroll_right {
	height: 20px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 1000;
	&:before{
		color: $scroll-button-color;
		font-family: $font-icon;
		font-size: 20px;
		line-height: 22px;
	}
	&:hover:before{
		color: $scroll-button-hover-color;
	}
}
#view_scroll_right {
	@include rtl-right(0);

	&:before{
		content: "\f054";
	}
}
#view_scroll_left {
	margin-top: 0;
	&:before{
		content: "\f053";
		padding-right: 2px;
	}
}
.resetimg {
	padding: 10px 0 0;
	#resetImages i{
		@include rtl-margin-right(6px);
	}
}

/* link list */
#usefull_link_block {
	list-style-type: none;
	display: inline-block;
	margin-bottom: 10px;
	li {
		@include rtl-margin(5px, 5px, 0, 5px);
		display: inline-block;
		@include rtl-float-left();
		&:first-child{
			@include rtl-margin(5px, 5px, 0, 0);
			border: none;
			padding: 0;
		}
		a{
			position: relative;
			@include rtl-padding-left(25px);
			line-height: 22px;
			display: inline-block;
			font-weight: 500;

			&:before{
				font-family: $font-icon;
				font-size: 16px;
				line-height: 24px;
				position: absolute;
				@include rtl-left(0);
				font-weight: normal;
			}
			&:hover {
				&:before {color: $theme-color-secondary;}
			}
		}
		&.print{
			a:before{
				content: "\f02f";
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove,
		&#favoriteproducts_block_extra_add,
		&#favoriteproducts_block_extra_removed,
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				@include rtl-left(0);
				font-weight: normal;
				content: "\f08a";
			}
			&:hover{
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		}
	}
}

/* pb-left-column ****************************************************************************** */

.pb-center-column {
	margin-bottom: 0;
	h1 {
		padding-bottom: 16px;
		margin-top: 0;
		font-size: 20px;
		color: $product-name-color;
		font-family: $font-family;
		font-weight: normal;
		text-transform: uppercase;
	}
	p {
		margin-bottom: 10px;
	}
	#product_reference {
		margin-bottom: 6px;
	}
	#short_description_block {
		//color: $description-color; 
	}
	/* form */
	#buy_block {
		margin-top: 10px;
		label {
			display: inline-block;
			width: 125px;
			font-weight: 700;
			font-size: 12px;
			@include rtl-text-align-right();
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}
#product p#loyalty {
	@include rtl-padding(17px,0,15px,35px);
	border-top: $main_border;
	border-bottom: $main_border;
	margin: 10px 0 -5px;
	position: relative;
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		@include rtl-left(0);
	}
}

#attributes{
	fieldset {
		padding-bottom: 3px;
		label {
			vertical-align: top;
			display: block;
		}
	}
	.attribute_list {
		width: 100%;
		.form-control {
			max-width: 230px;
			option{
				color: $description-color;
			}
		}
		ul {
			clear: both;
			li{
				@include rtl-float-left ();
				@include rtl-margin-right(10px);
			}
		}
		input.attribute_radio{
			@include rtl-float-left();
			@include rtl-margin-left(3px);
		}
		div.radio, 
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block; 
		}
		#color_to_pick_list {
			list-style-type: none;
			li {
				@include rtl-float-left ();
				@include rtl-margin(0,3px,3px,0);
				padding: 1px;
				border: 1px solid $base-border-color;
				clear: none;
				a.color_pick {
					display: block;
					height: 22px;
					width: 22px;
					cursor: pointer;
				}
				&.selected{
					border:1px solid #4d4d4d;
				}
			}
		}
	}
}
.box-cart-bottom{
	padding: 0px;
	text-align: center;
	background: $theme-color-default;
	margin-top:40px;
	.btn-outline{
		background: transparent;
		border: none;
		color: $white;
		font-size: 13px;
		.fa{
			@include rtl-padding-right(8px);
		}
	}
	&:hover{
		background: $black;
		color: $white;
	}
}
.box-wishlist-bottom{
	text-align: center;
	background: transparent;
	.buttons_bottom_block{
		border-bottom: 1px solid $base-border-color;
		border-top: 1px solid $base-border-color;
		padding: 3px 0px;
		&:hover{
			background: #f8f8f8;
			color: #666666;
		}
		a{
			text-transform: uppercase;
			font-size: 13px;
			&:hover{
				color: #848484;
			}
		}
		#wishlist_button:before{
			color: #666;
		}
	}
	#product_payment_logos{
		padding-top: 20px;
	}
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;
	width: 100%;
	margin: 0 0 20px;

	tr{
		border-top: $main_border;
		&.even{
			background: $tr-even-bg;
		}
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main_border;
				width: 30%;
				font-weight: 500;
				
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;

	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;
	}
	tr th{
		background: $table-background;
		
		font-weight: 700;
		border: none;
		font-weight: 700;
	}
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* quantity_wanted */
#quantity_wanted_p{
	input {
		width: 78px;
		@include rtl-float-left();
		height: 31px;
		@include border-radius(0);
		text-align: center;
		border: 1px solid #bdc2c9;
		padding: 3px;
	}
	.btn{
		@include rtl-float-left();
		border: 1px solid #bdc2c9;
		height: 31px;
		@include border-radius(0);
		padding: 0 10px;
		line-height: 30px;
		background: $white;

		&.product_quantity_down{
			@include rtl-margin-right(-1px);
		}
		&.product_quantity_up{
			@include rtl-margin-left(-1px);
		}
		&:hover, &:focus{
			color: $theme-color-default;
		}
	}
}

/* availability_statut */
#availability_statut span#availability_label, 
#availability_date_label {
	display: inline-block;
	width: 125px;
	font-weight: 700;
	font-size: 12px;
	@include rtl-text-align-right();
}
#quantityAvailable{
	
	font-size: 13px;
	line-height: 18px;
}
#availability_value,
#last_quantities {
	color: $theme-color-default;
	line-height: 18px;
	display: inline-block;
	@include rtl-margin-left(5px);
	font-weight: normal;
	color: #fff;
}
#last_quantities{
	background: $blue;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
}
#availability_statut, 
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span{
	font-weight: 500;
	
}
#availability_statut #availability_value.warning_inline { margin: 0;}

/* box-security */
.box-security {}

/* prices */
.content_prices {
	padding: 0 0 5px 0;
}
.discount {
	display: none;
}
.our_price_display {
	font-size: 23px;
	display: inline-block;
}
#old_price, .old-price {
	font-size: 13px;
	text-decoration: line-through;
	display: inline-block;
	line-height: 23px;
	color: $product-old-price-color;
	.price{
		color: $product-old-price-color;
	}
}
#reduction_percent, 
#reduction_amount {
	display: inline-block;	
	@include rtl-margin-right(10px);
	padding: 1px 3px;
	font-size: 14px;
	line-height: 23px;
	color: $light-text-color;
	background: #f13340;
	border: 1px solid #d02a2c;
	margin-top: 5px;
	span{
		display:block;	
	}
}

/* online_only */
.pb-center-column p.online_only {
	font-weight: 700;
	font-size: 13px;
	color: #f13340;
	@include rtl-text-align-left();	
}

.buttons_bottom_block {
	//clear: both;
	margin-top: 0px;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
	width: 555px;
	overflow: hidden;
	.product{
		img{
			margin: 0 0 10px 0;
			border: 1px solid $base-border-color;
		}
		p{
			padding: 0 ;
			
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		background: $base-box-bg;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;	
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		@include rtl-text-align-right();
	}
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
}

.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {	
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}

#customizedDatas {
	@include rtl-float-right ();
}

.accessories_block{
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a, span{
				font-weight:700;
			}
		}
	} 
}

/***** IE code ****/
.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: 1px solid $base-border-color;
				}
			}
		}
	}
	.box-security {
		filter: none;
	}
}
.socialsharing_product button {border:$main_border;}


/******************************************************************
Quick View Styles
******************************************************************/
.addsharethisinner .stButton .stArrow {
	display: none !important;
}
#product.content_only {
	div {
		&.primary_block {
			margin-bottom: 0;
			padding: 10px;
			@media (max-width: $screen-sm-max) { //max 991px
				margin-right: 0;
			}
		}
	}
	#leo-paneltool{display: none;}
}

@media (max-width:1050px) {
	#product.content_only {
		div, section {
			&.primary_block {
				div {
					&.pb-left-column {
						width: 100%;
						padding-right: 15px;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
						}
						#thumbs_list {
							li {
								width: 90px;
								height: 90px;
								img {
									width: 82px;
									height: 82px;
								}
							}
						}
					}
					&.pb-center-column {
						width: 50%;
						@include rtl-float-left ();
						@include rtl-padding-left(35px);
					}
					&.pb-right-column {
						width: 50%;
						@include rtl-float-left ();
					}
				}
			}
		}
	}
}
/*accessories-block*/
.accessories-block{
	.box-button > div a{
		top: 50%;
		left: 55%;
	}
}