@import "compass";
@import "theme_variables";


@media (max-width: $screen-md-max) { // max 1199px
  	//Zoom
  	.zoomdiv {
    	display: none !important;
  	}
  	
	
}
@media (max-width: 1196px) and (min-width: 992px) {
	//Theme config live
	.editortool .label-customize {
		display: none;
	}
	//search
	form#searchbox{
		width: 200px;
	}
}
@media (min-width: $screen-lg) { // min 1200px
	
	//GUEST TRACKING
	#guestTracking {
		.form-group {
      		overflow: hidden;
	      	i {
	        	@include rtl-padding-left(10px);
	      	}
    	}
    	.form-control {
      		@include rtl-float-left();
    	}
    	label {
      		@include rtl-float-left();
      		clear: both;
     		width: 100%;
    	}
	}
}
@media (max-width: 1024px){ 
	#social_block ul li{
   	@include rtl-margin-right(2px);
   }
	// Product List
	.product-block{
		.left-block{
			.price-old, .old-price{
				display: none;
			}
		}
	}
	// Widget
	.widget .widget-html .box-outer .reassurances-center{
		text-align: center;
		.description{
			display: block;
			text-align: center;
		}
	}
}
@media (max-width: $screen-md - 2){ //max 990px
	
	//product - images
	.product-image-container{
		img{
			margin: 0 auto;
		}
	}
	//Menu Canvas
	html {
		background: none;
	}
	.navbar-header .navbar-toggle{
		display: block;
		@include rtl-float-left();
		width: 40px;
		background: $theme-color-secondary;
		border: 1px solid $theme-color-secondary;
		margin-top: 4px;
		@include border-radius(3px);
		&:focus,
		&:hover{
		  	border-color: $theme-color-default;
		}	  
	}
	.collapse.navbar-collapse  {
	  	display: none !important;
	}
	.navbar-nav {
		float: none;
		> li{
			float: none;
		}
	}
	.navbar-header{
		float: none;
	}
	
}
@media (max-width: $screen-sm-max) { // max 991px 


	.footer-contact .widget-html{
		@include rtl-margin-left(0px);
	}	
	form#searchbox{
		height: 43px;
	}
	#social_block ul{
		@include rtl-text-align-left();
		padding-bottom: 0px;
	}
	#topbar .popup-title{
		border: 1px solid #ededed;
		@include rtl-margin-left(5px);
		padding: 0px 15px;
	}
	#topbar .topbar-box{
		@include rtl-padding-right(0px);
	}
	#search_block_top  {
		.btn.button-search {top:10px; right:10px; text-decoration: none;}
		.groupe-btn {
			display:block; 
			height: 33px; 
			line-height: 15px;
			padding: 7px 10px;
			color: $white;
			 width: 32px; 
			background: $black;
			border: 1px solid #ededed;
			@include rtl-margin-right(10px);
		 }
		#searchbox {
			display:none;
			 position:absolute; 
			 @include rtl-right(11px);
			 top: 48px; 
			 z-index:999; 
			 background:#fff; 
			 padding:5px;
			 width:220px; 
			 border:1px solid #c3c3c3;
		}
		#search_query_top {border:1px solid #c3c3c3;}
	}
	#topbar .popup-over li{
		float: none;
		list-style-type:  none;
		width: 100%;
		display: block;
	}
	#topbar .topbar-box .popup-content{
		@include rtl-left(6px);
	}
	#topbar .header_user_info.open .popup-over {
		display:block;
		@include rtl-left(0);
	}
	#topbar .header_user_info {
		.dropdown-toggle{
		   display: block;
		   border: 1px solid #ededed;
		   padding: 0px 15px;
		}
	}
	// Menu Left
	.float-vertical{
		margin-bottom: 20px;
		> .block_content{
			height:0;
			overflow:hidden;
			border: none;
			@include transition(height 0.4s ease 0s);
		}
	}
	.float-vertical.active{
		> .block_content{
			position: relative;
			border: none;
		}
	} 	
	div.verticalmenu{
		.navbar-nav{
			> li{
				@include rtl-float-left();
				&:hover{
					@include rtl-padding-left(0);
				}
				&.dropdown{
					&:hover{
						> a{
							&:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	#leo-verticalmenu .open > .dropdown-menu {
		max-width: 100%;
		position: relative;
		left: auto !important;
		width: 100% !important;
		top: 100%;
	}
	div.verticalmenu .navbar-nav{
		margin: 0;
	}
	.#{$app-brand-prefix}-megamenu {
		float: none;
	}
	.leo-megamenu{
		@include rtl-text-align-left();
		.navbar-nav{
			display: block;
			height: auto;
			@include rtl-text-align-left();
		}
	}
	// Product List
	.product-block{
		.left-block{
			.price-old, .old-price{
				display: inline;
			}
		}
	}
}

@media (max-width: $screen-xs-max + 1) { // max 768px

	#social_block ul li{
		@include rtl-text-align-left();
	}
	// Header
	#header-main{
		.inner{
			text-align: center;
		}
		#header_logo a{
			display: inline-block;
			margin-bottom: 20px;
		}	 
	}
	//Megamenu
	#leo-megamenu .container > .inner{
		border: none;
	}
	// Social Block
	#social_block{
		margin-top: 20px;
		border: none;
		.block_content{
			padding: 10px;
		}
	}
	// Footer
	.footer-nav{
		text-align: center;
	}
	#footnav{
		margin-top: 20px;
		text-align: center;
	}
	.footer-center .widget{
		border: none;
	}
	.footer-center .widget.html-contact .widget-html{
		border: none;
	}
	// Widget
	.effect{
		display: inline-block;
	    text-align: center;
	    width: 100%;
	}

	// Product List
	.product-block{
		.product-image-container{
			img{
				display: inline-block;
				text-align: center;
			}
		}
	}
}

@media (max-width: $screen-xs-max) { // max 767px
	.rtl .sidebar .block .title_block:after, .rtl
	 #footer .footer-block .title_block:after{
	 	top: 5px;
	 }
	// Footer
	.sidebar .block,
	#footer .footer-block {
		.title_block{
			cursor: pointer;
			margin: 0 0 10px;
			padding: 10px 0px 10px 0px;
    		&:after {
          		background: none;
			    content: "\f055";
			    cursor: pointer;
			    display: block;
			    font-family: "FontAwesome";
			    font-size: 18px;
			    @include rtl-left(auto);
			    position: absolute;
			    @include rtl-right(8px);
			    top: 8px;
			    width: auto;
    		}
   			&.active:after {
      			content: "\f056";
    		}
		}
	}

	#footer{
		.footer-block {
			margin-top: 20px;
		}
	}
}

@media (max-width: 598px) { // max 598px
	.openning-time{
		margin-bottom: 20px
	}
	// Block Cart
	.blockcart_top {
	    position: absolute;
	    top: 230px;
	    z-index: 99;
	    width: auto;
	    @include rtl-right(10px);
	}
	//Product List
	.product_list.grid{
		.functional-buttons{
			bottom: 0;
			@include opacity(1);
			border-bottom: 1px solid $product-border-color;
			.WhiteRounded{
				 @include rtl-border-right(1px solid $product-border-color);
				 &:last-child{
				 	@include rtl-border-right(1px solid transparent);
				 }
			}
		}
		.product-block:hover{
			.product-meta .content_price{
				@include opacity(1);
			}
			.functional-buttons{
				bottom: 0;
				@include transform(translate(0px, 0px));
			}
		} 
	} 
	.blockcart_top{
		margin: 10px 0;
		@include rtl-text-align-left();
	}
	.block .widget-tabs li{
		display: block;
		width: 100%;
		border: none;
		padding: 10px;
		margin: 0 0 10px;
	}
	.block .widget-tabs li.active:before, .block .widget-tabs li:hover:before,
	.nav-tabs.page-product-heading li.active:before, .nav-tabs.page-product-heading li:hover:before{
		bottom: 0;
		@include rtl-left(0);
	}
	.nav-tabs.page-product-heading li{
		float: none;
		padding: 5px 0;
		border: none;
		margin: 0 0 10px;
	}
	.accessories-block .functional-buttons{
		margin-bottom: 20px;
	}
	#layer_cart .layer_cart_cart .button-container .btn, #layer_cart .layer_cart_cart .button-container .btn:hover{
		float: none !important;
		margin-bottom: 15px;
	}
}
@media (max-width: $screen-xs) { // max 480px
	.block .widget-tabs li.active:before, .block .widget-tabs li:hover:before{
		bottom: -10px;
		@include rtl-left(0);
	}
	.block .widget-tabs li {
	    border: none;
	    display: block;
	    margin-bottom: 21px;
	    padding: 0 20px 0 0; 
	}
	.cart_navigation{
		text-align: center;
		.standard-checkout{
			float: none !important;
			margin-top: 10px;
		}
		.button-medium{
			float: none !important;
			margin-top: 10px;
		}
	}

}
@media (max-width: 320px) {
	#thumbs_list {
	    @include rtl-margin-left(65px);
	    width: 180px;
	}
	#footer #newsletter_block_left .newsletter-input{
		width: 180px;
	}
	#header {
		.cart_block {
			width: 283px;
		}
	}
	.content_sortPagiBar{
		.pagination{
			ul{
				margin-top: 10px;
				@include rtl-margin-left(0px);
			}
		}
	}
}