@import "compass";
@import "theme_variables";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/rtl/grid";
// Utility classes
@import "bootstrap/rtl/utilities";
@import "bootstrap/rtl/responsive-utilities";

/********************************************************
			Right to Left Styles
********************************************************/

* {
	direction: rtl !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    float:right; margin-left:5px!important;
}
#page {
	text-align: right !important;
}

// paneltool

.panelbutton {
    -webkit-box-shadow: -3px 1px 2px #888888;
    box-shadow: -3px 1px 2px #888888;
 }
.fancybox-margin {margin-right: 0px!important;}

.editortool .label-customize {
    background-image: url('#{$image-theme-base-path}label_customize-1.png');
}
.editortool .label-customize:hover {
    background-position: 0 -111px;
}
.accessories-block ul li{float: right !important;}
.product_list .product-block:hover .WhiteRounded:last-child{
	border-left: 1px solid transparent;
}
.rtl .box-line .content-producttabs .widget-tabs li:first-child{
	padding-right: 35px;
}
@media (max-width: $screen-sm-max) {
.rtl #topbar .links li{
	width: 100%;
}
}
.rtl #topbar .links li{
	float: left;
	display: inline-block;
}
