/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/* Block newsletter */
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
.rtl #columns #newsletter_block_left .success_inline, .rtl #columns #newsletter_block_left .warning_inline {
  text-align: right;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

#newsletter_block_left {
  background: url(../../../img/email.png) no-repeat 91px -106px whitesmoke;
  text-align: center;
  margin-top: 38px;
  border-top: 1px solid black;
}
#newsletter_block_left .block_content {
  padding: 0px 30px 30px 30px;
  background: transparent;
}
.rtl #newsletter_block_left .block_content {
  padding: 0px 30px 30px 30px;
}
#newsletter_block_left .block_content .button_mini {
  padding: 4px 20px;
}
#newsletter_block_left .block_content .btn-arrow-right {
  position: relative;
}
#newsletter_block_left .block_content .btn-arrow-right:before {
  position: absolute;
  content: "\f178";
  font-family: "FontAwesome";
  display: inline-block;
  right: 4px;
  top: 2px;
  color: white;
}
.rtl #newsletter_block_left .block_content .btn-arrow-right:before {
  left: 4px;
  right: auto;
}
#newsletter_block_left .inputNew {
  margin-bottom: 20px;
}
#newsletter_block_left .title_block {
  padding: 20px 0px 0px 0px;
}
#newsletter_block_left .title_block:before {
  display: none;
}
