/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
.ac_results {
  background: white;
  border: 1px solid #e4e4e4;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: transparent;
}

form#searchbox {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 200px; border-bottom:1px solid #6e6e6e;
  margin-right: 0px;
  height: 32px; margin-top: 25px;
}

@media only screen and (max-width: 1225px) {
  form#searchbox {
    width: 150px;
  }
}

  form#searchbox {
}
.rtl form#searchbox {
  margin-left: 10px;
  margin-right: inherit;
}
form#searchbox label {
  color: black;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .btn-outline-inverse {
  background: transparent;
  border: none;
  color: #000;
 padding: 0px 5px;
}
form#searchbox .form-control {
  padding: 4px 15px;
  height: 28px;
  box-shadow: none;
  border: none;
}
form#searchbox .button.button-small {
  float: left;
  background: transparent;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}

#cart span { font-family: 'Georgia', Times New Roman, Times, serif; font-size: 12px;}
#cart .heading a { padding-left: 22px;}