@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {	 
	.success_inline, .warning_inline {
		@include rtl-text-align-left();
		padding: 1px 0 0 0;
		margin-bottom: -19px;	
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
//Newsletter 
#newsletter_block_left{
	background: url(#{$image-base-path}email.png) no-repeat 91px -106px #f5f5f5;
	text-align: center;
	margin-top: 38px;
	border-top: 1px solid $black;
	.block_content{
		@include rtl-padding(0px, 30px, 30px, 30px);
		background: transparent;
		.button_mini{
			padding: 4px 20px;
		}
		.btn-arrow-right{
			position: relative;
			&:before{
				position: absolute;
				content:"\f178";
				font-family: $font-icon;
				display: inline-block;
				@include rtl-right(4px);
				top: 2px;
				color: $white;

			}
		}
	}
	.inputNew{
		margin-bottom: 20px;

	}
	.title_block{
		padding: 20px 0px 0px 0px;
		&:before{
			display: none;
		}
	}
}
