{*
* 2007-2014 PrestaShop
*
* NOTICE OF LICENSE
*
* No redistribute in other sites, or copy.
*
*  @author RSI <rsi_2004>
*  @copyright  2007-2015 RSI
*}   
<link href="{$module_dir|escape:'htmlall':'UTF-8'}css/style.css" rel="stylesheet" type="text/css" media="all" />
<li id="prestaspeed_block">
			<a href="{$linkpmo|escape:'htmlall':'UTF-8'}">
				<h4>PrestaSpeed</h4>
				<p>{l s='Optimize your site' mod='prestaspeed'}</p>
			</a>
		</li>