@import "compass";
@import "theme_variables";


$link-hover-color: 					#896b5a;

$theme-color-default: 				#896b5a;

$block-module-highlighted-bg:      #896b5a;
$search-icon-color:                 #896b5a;
$contact-icon-hover-bg:             #896b5a;
$headermain-color-hover:            #896b5a;
$topbar-link-hover-color:           #896b5a;

$breadcrumb-active-color:           #896b5a;

$product-deals-link-hover-color:    #896b5a;
$product-icon-color:                #896b5a;
$product-icon-bg-hover-color:       #896b5a;
$product-label-new-bg:              #896b5a;
$product-label-special-bg:          #896b5a;
$button-addtocart-bg-hover:         #896b5a;
$button-addtocart-border-2:         #896b5a;
$product-name-hover-color:          #896b5a;

$megamenu-link-hover-color:         #896b5a;
$megamenu-name-hover-color:         #896b5a;
$megamenu-sub-link-hover-color:     #896b5a;


$vertical-menu-link-hover-color:    #896b5a;
$vertical-menu-link-hover:          #896b5a;

$footer-top-color-hover:			#896b5a;
$footer-center-color-hover:			#896b5a;
$footer-bottom-color-hover:			#896b5a;
$footer-nav-color-hover:			#896b5a;
$power-link-color:                  #896b5a;
$footer-bottom-color:               #ddd;

$body-bg:                           #333333;
$border-color:                      #896b5a;
$topbar-border:                     1px solid #4d423b;
$text-color:						#666;
$product-name-color:                #fff;
$product-price-color:               #896b5a;
$product-border-color:              #896b5a;
$base-text-color:                   #ddd;
$base-border-color:                 #4d423b;
$footer-nav-border:					1px solid $base-border-color;
$product-border-color:              #4d423b;
$block-module-heading-bg:           #333;
$megamenu-link-color:               #fff;
$base-heading-color:                #fff;
$description-color:                 #dddddd;
$footer-center-outside-border:      #896b5a;
$cart-icon-bg:                      $theme-color-default;



$image-theme-base-path: "../../../img/dark/";

@import "../_skin";






