@import "compass";
@import "theme_variables";

 
.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	background: $white;
	margin: 0 auto;
    position: relative;
    text-align: center;
    width: 230px;
    border: 1px solid #ededed;
    @include rtl-margin-right(10px);
    height: 32px;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}

	.btn-outline-inverse{
		background: transparent;
		border: none;
		color: #000;
		padding: 0px 10px;
	}
	.form-control{
		padding: 4px 15px;
		height: 28px;
		box-shadow: none;
		border: none;
	}
	.button.button-small {
		float:left;
		background: transparent;
		i {
			margin-right:0;
		}
	}
}