/**
 * Web Application Prefix Apply For Making Owner Styles
 */
$app-brand-prefix        : leo !default;

/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 : block!default;
$block-selector          : block !default;
$block-heading-selector  : title_block !default;
$block-content-selector  : block_content !default;

/**
 * Product Item Selectors
 */
$products-container-selector : products_block !default;
$products-row-selector 		 : products-row !default; 
$products-col-selector 		 : product-col !default;
//------- Path Variables
$image-path:                   "images/"!default;
$font-custom-path:             "../font/"!default;
$image-theme-base-path:        "../img/"!default;
$image-theme-path:             "../img/icon/"!default;
$image-base-path:              "../../../img/"!default;
$image-skin-path:              "../../img/icon/"!default;
$image-module-path:            "../../../img/icon/"!default;
$module-path:                  "../../../modules/"!default;

$theme-font-path	   :          	 "../fonts/" !default;


/***********************************************************************/
// some basic colors

$sky:                  			    #7bbd42 !default;  // Skin sky
$blue:                              #6087D2 !default;  // Skin blue
$yellow:                  			#ffc801 !default;  // Skin yellow
$coral:								#EE6C92 !default;  // Slin Coral
$rico:								#51BAA9 !default;  // Skin Rico
$green:                 			#29C76A !default;  // Skin Green
$red:                   			#e27f7a !default;  // Skin Red
$pink:                  			#c3325f !default;
$white:			 				    #FFFFFF !default;
$cyandark:   						#4e4d49 !default;
$orange:                			#df995e !default;
$aqua: 								#75aab8 !default;
$turquoise:                         #4ACFD4 !default; 
$nav-border-color-hover:            #e2e2e2 !default;
$golden-poppy:                      #F2BE01 !default;
$valencia:      					#D44A4A !default;
$tundora:                           #8c8c8c !default;  
$wild-sand:                         #ffffff !default;  
$silver:                            #f5f5f5 !default;  
$red-light:            				#ee4848!default;  // bg sale
$yellow-light:           			#ffdc73!default;
$nocolor:							transparent!default;


//------- Themes colors
$black:							    #000000 !default; // Color link


// some basic font family
// ========================================================================
$font-tamoha: "tahoma";
$font-arial: "Arial";


// Variables paths 
// ========================================================================


$font-family:			 			 "brandon", sans-serif !default;			// font base
$font-family-secondary :             "Noticia Text", sans-serif !default;		// font for heading and menu, slideshow
$font-family-tertiary  :             "brandon_bold", sans-serif !default;	// font for blog    
$font-family-septenary : 			 "brandon_light", sans-serif !default; 			
$font-family-senary    : 		 	 "brandon_black", sans-serif !default;	
$font-family-octonary  :             "brandon_RgIt", sans-serif !default;



$font-icon 	   : 			 "FontAwesome" !default;

//////////////////// Variables defined for Themes + Skins ////////////////

$body-bg:                           #ffffff !default;
$theme-color:  				        $gray-light !default; 



$theme-color-default : 			    #666666 !default;
$theme-color-secondary :			$black !default;
$theme-color-tertiary:              $text-color !default;
 
$border-color  :  #000 !default;

$table-bg-color	:  #e5e5e5 !default;
//
// Variables
// --------------------------------------------------
$rtl-left : left;
$rtl-right : right;