
// Box Modules 
// ========================================================================
$block-module-margin-bottom: 			20px !default;
$block-module-padding  :				15px !default;
$block-module-border-color: 			$border-color  !default;

$block-module-heading-border: 			1px solid $border-color !default;
$block-module-heading-transform:        uppercase !default;
$block-module-heading-line-height:      normal !default;
$block-module-heading-font-family:    	$font-family !default;
$block-module-heading-bg:				$white !default;
$block-module-heading-padding: 			10px 0px 0px 0px!default;
$block-module-heading-font-size:		14px !default;
$block-module-heading-color:			$black !default;
$block-module-content-bg:				transparent !default;
$block-module-content-border:			1px solid $border-color !default;
$block-module-content-padding:			20px !default;
$block-module-content-margin:         	1px !default;
$block-module-content-radius:         	0px !default;


$block-module-highlighted-bg:             $theme-color-default !default;
$block-module-highlighted-border:         $base-border-color !default;

$block-module-footer-heading-color:       $theme-color-secondary !default; 

$block-product-padding:               0 !default;
$block-heading-letter-spacing:        1px !default; 





/*  
 * LAYOUT VARIABLES 
 */

// Header
// ========================================================================
$header-bg:  						transparent !default;
$header-icon-bg:                    $white !default;
$header-border-color:               3px solid #c87b1f !default;
$header-heading-color:              $theme-color-secondary !default;
$header-text-color:                 $gray-light !default;
$header-link-color: 				$header-text-color !default;
$header-icon-font-size:             $font-size-base !default;

// Topbar 
// ========================================================================
$topbar-outside-bg: 				transparent!default;
$topbar-bg: 						$topbar-outside-bg !default;
$topbar-color: 						$black !default;
$topbar-font-size: 					$font-size-base - 1!default;
$topbar-font-family:				$font-family !default;
$topbar-font-weight:                normal !default;
$topbar-link-color: 				$gray-light !default;
$topbar-link-hover-color: 			$theme-color-default !default;
$topbar-icon-color: 				$black !default;
$topbar-padding: 					6px 15px !default;
$topbar-height:                     42px !default;
$topbar-border:                     1px solid #e4e4e4 !default;

// Mass header 
$masshead-outside-bg :			$theme-color-secondary !default;
$masshead-bg: 			 		$theme-color-secondary !default;
$masshead-content-padding:		8px 0 !default;
$masshead-color:				#aab2bd !default;
$masshead-color-hover:			lighten($theme-color-secondary,5%);

// header main
$headermain-outside-bg :			transparent !default;
$headermain-bg: 			 		$headermain-outside-bg !default;
$headermain-content-padding:		8px 0 !default;
$headermain-color:					$header-text-color !default;
$headermain-color-hover:			$link-hover-color;	

// Main menu 
$mainnav-outside-border:		transparent !default;
$mainnav-outside-bg :			$body-bg !default;
$mainnav-bg: 			 		transparent !default;
$mainnav-content-padding:		0 !default;
$mainnav-color:					$base-text-color !default;
$mainnav-color-hover:			$link-hover-color;	

// Promotions

//Main Content

// Footer
// ========================================================================

$footer-outside-bg: 				transparent !default;
$footer-bg: 						$footer-outside-bg !default;
$footer-color: 						$theme-color-tertiary !default;
$footer-heading-font-size: 			$font-size-base + 1!default;
$footer-heading-color: 				$theme-color-secondary !default;
$footer-heading-padding:            0 !default;
$footer-link-color: 				$theme-color-tertiary !default;
$footer-link-hover-color: 			$link-hover-color !default;
$footer-font-size:   	 			$font-size-base !default;
$footer-icon-font-size:             12px !default;
     
$footer-content-padding:            15px !default;
$footer-content-margin:             0 !default;
$footer-list-padding:               6px 0 !default;
$footer-margin:                     20px !default;

 /////// footer top
$footer-top-outside-border:			1px solid #505862 !default;
$footer-top-outside-bg :			$white !default;
$footer-top-bg: 			 		$footer-top-outside-bg !default;
$footer-top-color:					$theme-color-secondary !default;
$footer-top-content-padding:		30px 0!default;
$footer-top-color-hover:			$theme-color-default !default;	
$footer-top-border:					#505862 !default;

/////// footer center 
$footer-center-outside-border:		2px solid $gray-dark !default;
$footer-center-outside-bg :			transparent !default;
$footer-center-bg: 			 		$footer-center-outside-bg !default;
$footer-center-content-padding:		10px 0!default;
$footer-center-color:				#666 !default;
$footer-center-color-hover:			$theme-color-default !default;
$footer-center-heading-color:       #000 !default;

/////// footer bottom 
$footer-bottom-outside-bg :			transparent !default;
$footer-bottom-bg: 			 		$footer-bottom-outside-bg !default;
$footer-bottom-content-padding:		0px 0px!default;
$footer-bottom-color:				#666 !default;
$footer-bottom-color-hover:			$theme-color-default !default;

/////// footer nav 
$footer-nav-outside-bg :			transparent !default;
$footer-nav-bg: 			 		$footer-nav-outside-bg !default;
$footer-nav-content-padding:		30px 0!default;
$footer-nav-color:					#666!default;
$footer-nav-color-hover:			$theme-color-default !default;	
$footer-nav-border:					1px solid $base-border-color !default;

// Powered By / Copyright
// ========================================================================
$power-bg:       					$theme-color-secondary !default;
$power-color:                       $footer-color !default;
$power-link-color:                  $theme-color-default !default;
$power-padding:                     $padding-large-vertical * 3.5 !default;
$power-font-family  : 				$font-family;
$power-border-color:				#505862;

 
// Responsive
// ========================================================================
$respon-topbar-icon:                $white !default;
$respon-topbar-icon-font-size:      $font-size-base !default;
$respon-topbar-search-bg:           $white !default;
$respon-topbar-search-icon-color:   $black !default;
