 
// Button
// ========================================================================
 


$button-addtocart-bg:               $theme-color-secondary !default;
$button-addtocart-color:            $white !default;
$button-addtocart-hover-color:      $white !default;
$button-addtocart-bg-hover:         $theme-color-default !default;
$button-addtocart-border:           $theme-color-secondary !default;
$button-addtocart-border-2:         $theme-color-default !default;
$button-addtocart-font-size:        $font-size-base !default;
$button-addtocart-padding:          5px 20px !default;
$button-addtocart-icon-bg:          $theme-color-secondary !default;
$button-addtocart-icon-color:       $white !default;
$button-addtocart-icon-bg-hover:    $white !default;
$button-addtocart-icon-border:      0 !default;
$button-addtocart-height:           33px !default;
$button-addtocart-icon-size:        50px !default;
$button-addtocart-font-family:      $font-family !default;
$button-bg-color: 					#f5f5f5 !default;
 
 

// product label 
$product-label-border-color:        $border-color!default;
$product-label-color:               $label-color!default;
$product-label-font-size:           11px !default;
$product-label-new-bg:              $theme-color-default !default;
$product-label-sale-bg:             $red-light !default;
$product-label-special-bg:          $theme-color-default !default;

// product lable - variable, discount, online_only 
$product-warning-display:                 none !default;	// none or block
$product-warning-avariable-now-bg:        green !default;
$product-warning-avariable-now-color:     $white !default;

$product-warning-outofstock-bg:           red !default;
$product-warning-outofstock-color:        $white !default;



///////// other 

	

//---------- Product Elements

$product-link-color:               	$theme-color-secondary !default;
$product-link-hover-color:          $link-hover-color !default;

$price-color:						$theme-color-secondary !default;
$product-price-color:				$price-color;
$product-reduced-price:				$theme-color-secondary!default;
$product-special-price-color:		$gray !default;
$product-old-price-color:			$theme-color-tertiary !default;

$product-new-box-bg:                $yellow-light !default;
$product-new-box-text-color:        #b28500 !default;
$product-sale-box-bg:               $red-light !default;
$product-sale-box-text-color:       #ae4e42 !default;
$product-price-font:                bold 18px/28px $font-family-senary !default;

// Product alert stock 

$product-stock-font-size :         11px; 
$product-instock-color   : 	       $white !default;
$product-instock-bg  	 : 	       $brand-info !default; 

$product-outofstock-color:         $white !default; 
$product-outofstock-bg:            $brand-warning !default; 


// Product Block
// ========================================================================
$product-bg-color:                  transparent!default;
$product-border-color : 			#ededed !default;
$product-content-bg: 				$white !default;
$product-hover-content-bg: 			#f5f5f5;
$product-content-padding:			10px 10px !default;
$product-container-border:			1px solid $border-color !default;

$product-name-color:                $theme-color-secondary !default;
$product-name-hover-color:          $link-hover-color !default;
$product-name-line-height:          20px !default;
$product-name-font-family:          $font-family !default;
$product-name-font-size: 			$font-size-base + 3!default;
$product-name-font-weight:          normal !default;

$product-desc-display: 				none !default; // none or block
$product-desc-height: 				40px !default;

$product-border:                    1px solid $nocolor !default;
$product-border-inner:              0px !default;
$product-padding:                   0 0 $padding-small-horizontal * 2 0 !default;
$product-text-align:                center !default;
$product-float:                     left !default;
$product-button-bg: 				$theme-color-secondary !default;
$product-button-hover-color:		$white !default;
$product-button-display: 			none !default; // none or block


$product-filter-bg:                 #fff !default;
$product-filter-font-size:          $font-size-base - 1!default;
$product-filter-color:              #666 !default;
$product-filter-padding: 			8px !default;
$product-filter-border-color :		$border-color !default;

$product-container-bg:              transparent !default;
$product-deals-link-color:          $black !default;
$product-deals-link-hover-color:    $theme-color-default !default;
$product-image-border:              0px !default;
$product-image-radius:              0px !default;

$product-price-old-color: 			$text-color !default;
$product-price-new-color:           $product-price-color !default;
$product-price-font-family:         $font-family-tertiary !default;
$product-price-font-size:           $font-size-base + 2!default;


$product-icon-font-size:            12px !default;
$product-icon-border:               1px solid #28313c !default;

$product-icon-color:                $theme-color-default !default;
$product-icon-hover-color:          $white !default;
$product-icon-bg:                   $white !default;
$product-icon-bg-hover-color:       $theme-color-default !default;


$product-zoom-bg:                   $theme-color-secondary !default;
$product-zoom-color:                $white !default;
$product-list-padding:              20px 18px !default;

$product-item-border:               1px solid $border-color !default;

$product-gallery-border-color : 	darken( $border-color, 20%);

$product-rating-font-size:          11px !default;


 

// Product Info
// ========================================================================
$product-info-padding:              19px !default;
$product-info-margin:               10px !default;
$product-info-border:               1px solid $border-color !default;
$product-info-bg:                   $white !default;

$product-info-price-font-size: 		 30px !default; 
$product-info-price-old-font-size:  22px !default;