/**
 * Web Application Prefix Apply For Making Owner Styles
 */


/**
 *   Blocks Layout Selectors 
 */


/**
 * Product Item Selectors
 */


/***********************************************************************/


/**
* Transition-timing-function property@mixin 
*/


/*background RGBA
============================================*/


/****/


/* RIGHT TO LEFT */


/** CHECKOUT BY STEP */


/*  
 * LAYOUT VARIABLES 
 */

.box-wishlist-bottom #product_comments_block_extra {
  border-bottom: 1px solid #f8f8f8;
  border-top: 1px solid #f8f8f8;
  text-align: left;
  padding: 15px 20px;
  float: left;
}

.rtl #product_comments_block_extra {
    float: right;
}

#product_comments_block_extra .comments_note {
    margin: 12px 0 0;
    float: left;
}

.rtl #product_comments_block_extra .comments_note {
    float: right;
}

#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
    float: left;
}

.rtl #product_comments_block_extra .comments_note span,
.rtl #product_comments_block_extra .star_content {
    float: right;
}

#product_comments_block_extra .star_content {
    margin: 1px 0 0 5px;
}

.rtl #product_comments_block_extra .star_content {
    margin: 1px 5px 0 0;
}

#product_comments_block_extra div.star:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #777676;
}

#product_comments_block_extra div.star_on:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743;
}

#product_comments_block_extra .comments_advices {
    float: left;
    margin: 0 5px 0 5px;
    padding: 0;
}

.rtl #product_comments_block_extra .comments_advices {
    float: right;
}

.rtl #product_comments_block_extra .comments_advices {
    margin: 0 5px 0 5px;
}

.comments_advices {
    padding-top: 2px;
}

.comments_advices li {
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
        display: block;
        line-height: 20px;
    }
}

.comments_advices a {
    text-decoration: none;
    position: relative;
    line-height: 31px;
    padding: 5px 10px 5px 10px;
    display: inline;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.rtl .comments_advices a {
    padding: 5px 10px 5px 10px;
}

.comments_advices a:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.rtl .comments_advices a:before {
    margin-left: 10px;
    margin-right: inherit;
}

.comments_advices a.reviews:before {
    content: "\f0e5";
}

.comments_advices a.open-comment-form:before {
    content: "\f040";
}

.comments_advices a.reviews {
    padding-right: 30px;
    margin-right: 9px;
}

.rtl .comments_advices a.reviews {
    padding-left: 30px;
    padding-right: inherit;
}


/* pop-in add grade/advice ********************************************************************* */

#fancybox-wrap {
    width: 585px;
}

#fancybox-content {
    width: 585px;
    border-width: 0;
}

#new_comment_form {
    overflow: hidden;
    text-align: left;
}

.rtl #new_comment_form {
    text-align: right;
}

#new_comment_form h2 {
    margin-bottom: 10px;
}

#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}

#new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
}

#new_comment_form ul.grade_content li {
    width: 50%;
}

#new_comment_form ul.grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px;
    font-weight: bold;
}

#new_comment_form ul.grade_content .cancel {
    margin-right: 5px;
}

#new_comment_form .product {
    padding: 15px;
}

#new_comment_form .product img {
    border: 1px solid #e4e4e4;
}

#new_comment_form .product .product_desc {
    line-height: 18px;
    color: black;
}

#new_comment_form .product .product_desc .product_name {
    padding: 10px 0 5px;
    font-size: 13px;
    color: #000;
}

#new_comment_form .new_comment_form_content {
    padding: 15px 25px 15px 15px;
    background: #f8f8f8;
}

@media (max-width: 767px) {
    #new_comment_form .new_comment_form_content {
        padding-left: 25px;
    }
}

#new_comment_form .new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form input,
#new_comment_form textarea {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
}

#new_comment_form textarea {
   height: 80px;
    max-height: 80px;
    resize: none;
    min-height: 80px;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right;
}

.rtl #new_comment_form .submit {
    text-align: left;
}

#new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
}

.rtl #new_comment_form #criterions_list label {
    float: right;
}

#new_comment_form #criterions_list .star_content {
    float: left;
}

.rtl #new_comment_form #criterions_list .star_content {
    float: right;
}

#new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}


/* TAB COMMENTS ******************************************************************************** */

#product_comments_block_tab {
    margin: 5px 0 20px 0;
}

#product_comments_block_tab div.comment {
    margin: 0 0 14px;
    padding-top: 14px;
}

#product_comments_block_tab div.comment:first-child {
    padding: 0;
    border: none;
}

#product_comments_block_tab div.comment .comment_author {
    padding: 0;
    line-height: 18px;
}

#product_comments_block_tab div.comment .comment_author span {
    font-weight: 700;
    float: left;
    display: block;
    width: 100%;
}

.rtl #product_comments_block_tab div.comment .comment_author span {
    float: right;
}

#product_comments_block_tab div.comment .comment_author .star_content {
    display: inline-block;
    display: block;
    vertical-align: middle;
    margin: 0;
}

#product_comments_block_tab div.comment .comment_details {
    overflow: hidden;
    border-left: 1px solid #e4e4e4;
}

@media (max-width: 991px) {
    #product_comments_block_tab div.comment .comment_details {
        border-left: none;
    }
    #product_comments_block_tab div.comment .comment_details ul {
        list-style-type: none;
        margin: 0;
    }
    #product_comments_block_tab div.comment .comment_details ul li {
        padding: 2px 0 2px;
    }
    #product_comments_block_tab div.comment .comment_details ul li:before {
        font-family: "FontAwesome";
        content: "\f0da";
        margin-right: 8px;
    }
}

#product_comments_block_tab div.comment .comment_details .button {
    line-height: 10px;
    margin-left: 5px;
    font-size: 12px;
}

#product_comments_block_tab div.star::after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #bbb;
}

#product_comments_block_tab div.star_on::after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #f62459;
}

#product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 9px;
}

#product_comments_block_tab .comment_author_infos strong {
    display: block;
}

#product_comments_block_tab .comment_author_infos em {
    color: #adadad;
}

#product_comments_block_tab a {
    text-decoration: none;
    font-size: 12px;
}

#product_comments_block_tab span.report_btn {
    cursor: pointer;
}

#product_comments_block_tab span.report_btn:hover {
    text-decoration: underline;
}

.fl {
    float: left;
}

.rtl .fl {
    float: right;
}

.fr {
    float: right;
}

.rtl .fr {
    float: left;
}

#product_comments_block_extra .comments_note {
    margin: 2px 0 0 0;
}

#product_comments_block_extra div.star::after {
    color: #bbbbbb;
}

#product_comments_block_extra div.star_on::after {
    color: #f62459;
}
#submitNewMessage {
  background: #f62459;
  color: #fff;
}