/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
body {
  background-color: #333333;
  color: #666666;
}
body.layout-boxed-md {
  background: #333333;
}

#topbar {
  border-top: 5px solid #896b5a;
  border-bottom: 1px solid #4d423b;
}
#topbar .links li a {
  color: #666666;
}
#topbar .links li a:hover {
  color: #896b5a;
}

#cart .title-cart {
  color: #896b5a;
}
#cart .title-cart:before {
  background-color: #896b5a;
}

.product-block .name a {
  color: white;
}

.price {
  color: #896b5a;
}

.product_list .quick_bottom a {
  color: white;
}
.product_list .product-block:hover .quick_bottom {
  border-bottom: 1px solid #896b5a;
  border-top: 1px solid #4d423b;
}

.box-line:before {
  background-color: #896b5a;
}
.box-line .content-producttabs .widget-tabs {
  background: #333;
}
.box-line .content-producttabs .widget-tabs li.active a, .box-line .content-producttabs .widget-tabs li:hover a {
  color: #896b5a;
}

.Home-product .title_block:before {
  background-color: #896b5a;
}
.Home-product .title_block > div {
  background: #333333;
  color: white;
}
.Home-product .blogs .date-time {
  color: #767676;
}
.Home-product .blogs .blog-title {
  font-weight: normal;
  color: white;
}

.footer-support .openning-time .widget-html {
  border-top: 1px solid #4d423b;
}

.box-services .media-body .h4 {
  color: #ddd;
}
.box-services .iconbox {
  border: 2px solid #ddd;
}
.box-services .iconbox .fa {
  color: #ddd;
}

#manucarousel .logo-manu {
  border: 1px solid #4d423b;
}
#manucarousel .logo-manu:hover {
  border: 1px solid #896b5a;
}

.footer-support .footer-line {
  border-top: 1px solid #4d423b;
}

.footer-contact .widget-html {
  border-top: 1px solid #4d423b;
}

a {
  color: #dddddd;
}
a:hover, a:focus {
  color: #896b5a;
}

#social_block ul li a {
  border: 1px solid #ddd;
}
#social_block ul li a:before {
  color: #ddd;
}

.footer-container .block .title_block {
  color: white;
}

.footer-nav .container {
  border-top: 1px solid #4d423b;
  border-bottom: 5px solid #896b5a;
}

.footer-center .container > .inner {
  border-bottom: 2px solid #896b5a;
}

.nav-tabs.page-product-heading {
  border-bottom: 1px solid transparent;
}
.nav-tabs.page-product-heading li a {
  color: #896b5a;
}
.nav-tabs.page-product-heading li.active, .nav-tabs.page-product-heading li:hover {
  background: #333333;
  border-top: 1px solid #4d423b;
  border-left: 1px solid #4d423b;
  border-right: 1px solid #4d423b;
  margin-bottom: -2px;
}
.nav-tabs.page-product-heading li.active a, .nav-tabs.page-product-heading li:hover a {
  background: transparent;
  color: #896b5a;
}
.nav-tabs.page-product-heading li:first-child {
  border: none;
}
.nav-tabs.page-product-heading li:first-child.active, .nav-tabs.page-product-heading li:first-child:hover {
  background: #333333;
  border-top: 1px solid #4d423b;
  border-left: 1px solid #4d423b;
  border-right: 1px solid #4d423b;
  margin-bottom: -2px;
}
.nav-tabs.page-product-heading li:first-child.active:before, .nav-tabs.page-product-heading li:first-child:hover:before {
  left: 0;
}

.more_info_block .tab-content {
  border: 1px solid #4d423b;
  color: #ddd;
}

.pb-center-column h1 {
  color: #896b5a;
}

.box-cart-bottom {
  background: #896b5a;
}
.box-cart-bottom .btn-outline {
  background: transparent;
  border: none;
}
.box-cart-bottom:hover {
  background: #896b5a;
  color: white;
}

.box-wishlist-bottom .buttons_bottom_block {
  border-bottom: 1px solid #4d423b;
  border-top: 1px solid #4d423b;
  padding: 2px 0px;
}
.box-wishlist-bottom .buttons_bottom_block:hover {
  background: #f8f8f8;
}
.box-wishlist-bottom .buttons_bottom_block:hover #wishlist_button {
  color: black;
}
.box-wishlist-bottom .buttons_bottom_block:hover #wishlist_button:before {
  color: black;
}
.box-wishlist-bottom .buttons_bottom_block a:hover {
  color: black;
}
.box-wishlist-bottom .buttons_bottom_block #wishlist_button:before {
  color: #fff;
}

#quantity_wanted_p .btn {
  color: #acacac;
}

.blockproductscategory .title_block {
  background: transparent;
  color: white;
}
.blockproductscategory .title_block:before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #896b5a;
}
.blockproductscategory .title_block > div {
  background: #333;
}

.btn-outline-inverse {
  color: white;
  background-color: #896b5a;
  border-color: #896b5a;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active, .btn-outline-inverse.active {
  color: white;
  background-color: black;
  border-color: black;
}
.open .btn-outline-inverse.dropdown-toggle {
  color: white;
  background-color: black;
  border-color: black;
}
.btn-outline-inverse:active, .btn-outline-inverse.active {
  background-image: none;
}
.open .btn-outline-inverse.dropdown-toggle {
  background-image: none;
}
.btn-outline-inverse.disabled, .btn-outline-inverse.disabled:hover, .btn-outline-inverse.disabled:focus, .btn-outline-inverse.disabled:active, .btn-outline-inverse.disabled.active, .btn-outline-inverse[disabled], .btn-outline-inverse[disabled]:hover, .btn-outline-inverse[disabled]:focus, .btn-outline-inverse[disabled]:active, .btn-outline-inverse[disabled].active, fieldset[disabled] .btn-outline-inverse, fieldset[disabled] .btn-outline-inverse:hover, fieldset[disabled] .btn-outline-inverse:focus, fieldset[disabled] .btn-outline-inverse:active, fieldset[disabled] .btn-outline-inverse.active {
  background-color: #896b5a;
  border-color: #896b5a;
}
.btn-outline-inverse .badge {
  color: #896b5a;
  background-color: white;
}

.btn-outline {
  color: white;
  background-color: black;
  border-color: black;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  background-color: #896b5a;
  border-color: #896b5a;
}
.open .btn-outline.dropdown-toggle {
  color: white;
  background-color: #896b5a;
  border-color: #896b5a;
}
.btn-outline:active, .btn-outline.active {
  background-image: none;
}
.open .btn-outline.dropdown-toggle {
  background-image: none;
}
.btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline[disabled].active, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active {
  background-color: black;
  border-color: black;
}
.btn-outline .badge {
  color: black;
  background-color: white;
}

.block-default {
  border-color: #dddddd;
}
.block-default .title_block {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
.block-default .title_block a {
  color: #333333;
}
.block-default .title_block + .block-collapse .block_content {
  border-top-color: #dddddd;
}
.block-default > .block-footer + .block-collapse .block-body {
  border-bottom-color: #dddddd;
}

.block-primary {
  border-color: #428bca;
}
.block-primary .title_block {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
}
.block-primary .title_block a {
  color: white;
}
.block-primary .title_block + .block-collapse .block_content {
  border-top-color: #428bca;
}
.block-primary > .block-footer + .block-collapse .block-body {
  border-bottom-color: #428bca;
}

.block-success {
  border-color: #d6e9c6;
}
.block-success .title_block {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.block-success .title_block a {
  color: #3c763d;
}
.block-success .title_block + .block-collapse .block_content {
  border-top-color: #d6e9c6;
}
.block-success > .block-footer + .block-collapse .block-body {
  border-bottom-color: #d6e9c6;
}

.block-info {
  border-color: #bce8f1;
}
.block-info .title_block {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.block-info .title_block a {
  color: #31708f;
}
.block-info .title_block + .block-collapse .block_content {
  border-top-color: #bce8f1;
}
.block-info > .block-footer + .block-collapse .block-body {
  border-bottom-color: #bce8f1;
}

.block-warning {
  border-color: #faebcc;
}
.block-warning .title_block {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.block-warning .title_block a {
  color: #8a6d3b;
}
.block-warning .title_block + .block-collapse .block_content {
  border-top-color: #faebcc;
}
.block-warning > .block-footer + .block-collapse .block-body {
  border-bottom-color: #faebcc;
}

.block-danger {
  border-color: #ebccd1;
}
.block-danger .title_block {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.block-danger .title_block a {
  color: #a94442;
}
.block-danger .title_block + .block-collapse .block_content {
  border-top-color: #ebccd1;
}
.block-danger > .block-footer + .block-collapse .block-body {
  border-bottom-color: #ebccd1;
}

.block-highlighted {
  border-color: #e4e4e4;
}
.block-highlighted .title_block {
  color: white;
  background-color: #896b5a;
  border-color: #896b5a;
}
.block-highlighted .title_block a {
  color: white;
}
.block-highlighted .title_block + .block-collapse .block_content {
  border-top-color: #e4e4e4;
}
.block-highlighted > .block-footer + .block-collapse .block-body {
  border-bottom-color: #e4e4e4;
}

.sidebar .product-block {
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  border-color: #4d423b;
}
.sidebar .product-block .price {
  color: #896b5a;
}

#header-main .container > .inner {
  background: transparent;
  color: #999999;
}
#header-main .container > .inner a {
  color: #999999;
}
#header-main .container > .inner a:hover {
  color: #896b5a;
}

#leo-mainnav .container > .inner {
  background: transparent;
  color: black;
}
#leo-mainnav .container > .inner a {
  color: black;
}
#leo-mainnav .container > .inner a:hover {
  color: #999999;
}

.footer-top .container > .inner {
  background: white;
  color: black;
}
.footer-top .container > .inner a {
  color: black;
}
.footer-top .container > .inner a:hover {
  color: #896b5a;
}

.footer-center .container > .inner {
  background: transparent;
  color: #666666;
}
.footer-center .container > .inner a {
  color: #666666;
}
.footer-center .container > .inner a:hover {
  color: #896b5a;
}

.footer-bottom .container > .inner {
  background: transparent;
  color: #dddddd;
}
.footer-bottom .container > .inner a {
  color: #dddddd;
}
.footer-bottom .container > .inner a:hover {
  color: #896b5a;
}

.footer-nav .container > .inner {
  background: transparent;
  color: #666666;
}
.footer-nav .container > .inner a {
  color: #666666;
}
.footer-nav .container > .inner a:hover {
  color: #896b5a;
}

#powered {
  color: #ddd;
}
#powered span {
  color: #896b5a;
}

.block .widget-tabs li {
  position: relative;
}
.block .widget-tabs li.active a, .block .widget-tabs li:hover a {
  color: #896b5a;
}
.block .widget-tabs li.active:before, .block .widget-tabs li:hover:before {
  background-color: #896b5a;
}

.widget .widget-html .free-ship {
  color: #896b5a;
}
.widget .widget-html .box-outer .reassurances-center:hover {
  color: #896b5a;
}
.widget .widget-html .box-outer .reassurances-center:hover p {
  color: #896b5a;
}

.content_sortPagiBar .display .selected a .fa {
  color: #896b5a;
}

.breadcrumb {
  color: #896b5a;
}
.breadcrumb .navigation-pipe:before {
  color: #ddd;
}
.breadcrumb a {
  color: #ddd;
}
.breadcrumb a:hover {
  color: #896b5a;
}

.page-subheading {
  border-bottom: 1px solid #4d423b;
  color: white;
}

.page-heading {
  color: #896b5a;
}

.subcategories {
  border: 1px solid #4d423b;
}

.content_sortPagiBar {
  border: 1px solid #4d423b;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  border-color: #896b5a;
  color: #896b5a;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  border-color: #896b5a;
  color: #896b5a;
}

.leo-megamenu {
  border-bottom: 2px solid #896b5a;
  border-top: 1px solid #4d423b;
}
.leo-megamenu .navbar-nav > li > a {
  color: white;
}
.leo-megamenu .navbar-nav > li > a:hover, .leo-megamenu .navbar-nav > li > a:focus, .leo-megamenu .navbar-nav > li > a:active {
  color: #896b5a;
}
.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a {
  color: #896b5a;
  border-right: 1px solid #4d423b;
  border-left: 1px solid #4d423b;
}
.leo-megamenu .navbar-nav > li > .caret {
  color: white;
}
.leo-megamenu .navbar-nav > li:hover > .caret, .leo-megamenu .navbar-nav > li:active > .caret {
  color: #896b5a;
}

div.verticalmenu .navbar-nav > li > a:hover, div.verticalmenu .navbar-nav > li > a:focus {
  color: #896b5a;
}
div.verticalmenu .navbar-nav > li > a:hover .menu-title, div.verticalmenu .navbar-nav > li > a:focus .menu-title {
  color: #896b5a;
}
div.verticalmenu .navbar-nav > li:hover > a {
  color: #896b5a;
}
div.verticalmenu .navbar-nav > li:hover .caret:before {
  color: #896b5a;
}
div.verticalmenu ul li a:hover, div.verticalmenu ul li a:focus {
  color: #896b5a;
}
div.verticalmenu ul li a:hover .menu-title, div.verticalmenu ul li a:focus .menu-title {
  color: #896b5a;
}
div.verticalmenu .dropdown-menu ul li a:hover {
  color: #896b5a;
}

.navbar-header .navbar-toggle {
  background: #896b5a;
}

.product-block:hover:after {
  background-color: #896b5a;
}
.product-block .name a:hover {
  color: #896b5a;
}

.box-button > div a {
  color: #896b5a;
}
.box-button > div a:hover {
  background: #896b5a;
}

.leo-megamenu {
  /* level 2 */
}
.leo-megamenu .dropdown-menu li a:hover {
  color: #896b5a;
}
.leo-megamenu .dropdown-menu li a:hover .fa {
  color: #896b5a;
}
.leo-megamenu .dropdown:hover > a {
  color: #896b5a;
}
.leo-megamenu .dropdown:hover > a .fa {
  color: #896b5a;
}

.leo-widget .product-block .product-meta .name a:hover {
  color: #896b5a;
}

#off-canvas-nav .offcanvas-mainnav {
  background-color: #896b5a;
}

#short_description_block {
  color: #dddddd;
}

#footer #newsletter_block_left.block input.btn {
  background-color: #896b5a;
}

#social_block ul li:hover a {
  border-color: #896b5a;
}
#social_block ul li:hover a:before {
  color: #896b5a;
}

#newsletter_block_left {
  background: url("../../../img/dark/email.png") no-repeat 91px -106px #414141;
  border-top: 1px solid #896b5a;
}
#newsletter_block_left .title_block {
  color: white;
}

#leo-paneltool {
  color: black;
}

.bannercontainer .tp-leftarrow.default {
  background: url("../../../img/dark/large_left.png") no-repeat top left;
  width: 40px;
  height: 73px;
}

.bannercontainer .tp-rightarrow.default {
  background: url("../../../img/dark/large_right.png") no-repeat top left;
  width: 40px;
  height: 73px;
}

.header-fullslide .navbar-fixed-top {
  background: #333!important;
}
.header-fullslide .leo-megamenu:before {
  border-bottom: 2px solid #896b5a;
  border-top: 1px solid #4d423b;
}
.header-fullslide .leo-megamenu:after {
  border-bottom: 2px solid #896b5a;
  border-top: 1px solid #4d423b;
}

.header-modern #topbar:before {
  border-top: 5px solid #896b5a;
  border-bottom: 1px solid #4d423b;
  height: 58px;
}
.header-modern #topbar:after {
  border-top: 5px solid #896b5a;
  border-bottom: 1px solid #4d423b;
}
.header-modern #header {
  background: #333!important;
  border-bottom: 2px solid #896b5a;
}

#categories_block_left .block_content {
  border: 1px solid #896b5a;
}
#categories_block_left .title_block {
  background-color: #896b5a;
}

/**************************************Header-default**********************************/
.header-default #header .container {
  background: #333333;
}
