/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
#topbar .widget .widget-html p {
  padding: 17px 0;
  margin-bottom: 0;
}

.widget-html .widget-inner {
  text-align: left;
}
.rtl .widget-html .widget-inner {
  text-align: right;
}
.widget-html .widget-title-sub {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999999;
  font-family: "brandon_bold", sans-serif;
}

.banner .row {
  margin: 0;
}
.banner .row .widget {
  padding: 0;
}
.banner .row .widget img {
  width: 100%;
}

.box-line {
  text-align: center;
}
.box-line:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0px;
  top: 28px;
  z-index: 9;
  height: 1px;
  background-color: black;
}
.rtl .box-line:before {
  right: 0px;
  left: auto;
}
.box-line .content-producttabs .widget-tabs {
  position: relative;
  text-transform: uppercase;
  font-family: "brandon", sans-serif;
  padding: 20px 0px 30px 30px;
  font-size: 14px;
  margin: 0 0 20px;
  display: inline-block;
  background: white;
  z-index: 20;
}
.box-line .content-producttabs .widget-tabs li {
  position: relative;
  padding: 0px 20px 0px 0px;
}
.box-line .content-producttabs .widget-tabs li a {
  color: #b9b9b9;
  display: list-item;
  list-style-type: disc;
}
.box-line .content-producttabs .widget-tabs li:first-child {
  border: none;
  padding-left: 0px;
}
.box-line .content-producttabs .widget-tabs li:first-child.active:before, .box-line .content-producttabs .widget-tabs li:first-child:hover:before {
  left: 0;
}
.rtl .box-line .content-producttabs .widget-tabs li:first-child.active:before, .rtl .box-line .content-producttabs .widget-tabs li:first-child:hover:before {
  right: 0;
  left: auto;
}
.box-line .content-producttabs .widget-tabs li.active a, .box-line .content-producttabs .widget-tabs li:hover a {
  color: #222;
}

.widget.slide_fullwidth {
  background-image: url("images/bg_slide.png");
  background-attachment: scroll;
  background-size: auto;
  background-position: 50% 0%;
  background-repeat: repeat-x;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px 1000px;
  margin-left: -1000px;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
}
.rtl .widget.slide_fullwidth {
  margin-right: -1000px;
  margin-left: inherit;
}

.footer-center .widget.html-contact .widget-html {
  border-left: 1px solid #333333;
}
.rtl .footer-center .widget.html-contact .widget-html {
  border-right: 1px solid #333333;
  border-left: inherit;
}

.footer-support {
  padding-top: 30px;
}
.footer-support .openning-time .widget-html {
  border-top: 1px solid #e4e4e4;
  margin-right: 20px;
}
.rtl .footer-support .openning-time .widget-html {
  margin-left: 20px;
  margin-right: inherit;
}
.footer-support .footer-line {
  border-top: 1px solid #e4e4e4;
}
.footer-support .footer-line .bullet li {
  display: block;
  position: relative;
  margin-right: 30px;
  padding-right: 20px;
  line-height: 18px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.rtl .footer-support .footer-line .bullet li {
  margin-left: 30px;
  margin-right: inherit;
}
.rtl .footer-support .footer-line .bullet li {
  padding-left: 20px;
  padding-right: inherit;
}
.footer-support .footer-line .bullet li a {
  padding-left: 0px;
  font-size: 13px;
}
.rtl .footer-support .footer-line .bullet li a {
  padding-right: 0px;
  padding-left: inherit;
}
.footer-support .footer-line .bullet li a:before {
  display: block;
  content: "\f178";
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 8px;
}
.rtl .footer-support .footer-line .bullet li a:before {
  left: 0px;
  right: auto;
}
.footer-support .footer-line .bullet li:hover {
  padding-left: 10px;
  font-style: italic;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.rtl .footer-support .footer-line .bullet li:hover {
  padding-right: 10px;
  padding-left: inherit;
}

.footer-contact .widget-html {
  border-top: 1px solid #e4e4e4;
  margin-left: 20px;
}
.rtl .footer-contact .widget-html {
  margin-right: 20px;
  margin-left: inherit;
}

.box-services .iconbox {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid black;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
.rtl .box-services .iconbox {
  margin-left: 20px;
  margin-right: inherit;
}
.box-services .iconbox .fa {
  font-size: 20px;
  padding: 8px;
  color: black;
}
.box-services .media-body {
  padding-top: 5px;
}
.box-services .media-body .h4 {
  font-family: "brandon_light", sans-serif;
  color: black;
}

.widget-html .block_content address {
  line-height: 22px;
}
.widget-html .block_content .logo-ft {
  padding-top: 20px;
}
.widget-html .block_content .blogs .caption .date-time {
  font-style: italic;
}
.widget-html .block_content .blogs .caption .blog-title {
  font-size: 13px;
  padding-bottom: 10px;
  font-family: "Noticia Text", sans-serif;
  font-weight: bold;
}
.widget-html .block_content .blogs .caption .link {
  font-style: italic;
  font-size: 12px;
  position: relative;
}
.widget-html .block_content .blogs .caption .link:before {
  display: block;
  content: "\f178";
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: -20px;
  top: 2px;
}
.rtl .widget-html .block_content .blogs .caption .link:before {
  left: -20px;
  right: auto;
}

.Home-product .title_block {
  background: transparent;
  position: relative;
  font-family: "brandon", sans-serif;
  padding: 30px 0px 15px 0px;
  font-weight: normal;
  margin: 0 0 20px;
  text-align: center;
}
.Home-product .title_block:before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: black;
  left: 0px;
  top: 38px;
  z-index: 99;
  height: 1px;
}
.rtl .Home-product .title_block:before {
  right: 0px;
  left: auto;
}
.Home-product .title_block > div {
  background: white;
  position: relative;
  display: inline-block;
  padding: 0 20px;
  z-index: 100;
}

#manucarousel .logo-manu {
  border: 1px solid #e4e4e4;
}
#manucarousel .logo-manu:hover {
  border: 1px solid black;
}

.widget-manufacture {
  margin-top: 10px;
}
.widget-manufacture .carousel {
  min-height: 82px;
}
.widget-manufacture .carousel-control {
  cursor: pointer;
  height: 30px;
  position: absolute;
  top: 23px !important;
  width: 28px;
  z-index: 100;
  text-indent: -9999px;
}
.widget-manufacture .carousel-control.left {
  left: 9px;
  background: url("images/button-previous.png") no-repeat 1px -52px transparent;
}
.rtl .widget-manufacture .carousel-control.left {
  right: 9px;
  left: auto;
}
.widget-manufacture .carousel-control.right {
  right: 9px;
  right: 9px;
  background: url("images/button-next.png") no-repeat 1px 0px transparent;
  left: auto;
}
.rtl .widget-manufacture .carousel-control.right {
  left: 9px;
  right: auto;
}
.widget-manufacture .owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  padding: 3px 10px;
  font-size: 12px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  z-index: 9999;
  width: 30px;
  position: absolute;
  top: 32%;
  height: 30px;
  opacity: 1px;
  filter: alpha(opacity=100px);
  text-indent: -9999px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.widget-manufacture .owl-theme .owl-controls .owl-buttons .owl-prev {
  background: url("images/button-previous.png") no-repeat 1px 0px transparent;
  right: 0px;
}
.rtl .widget-manufacture .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0px;
  right: auto;
}
.widget-manufacture .owl-theme .owl-controls .owl-buttons .owl-next {
  left: 0px;
  background: url("images/button-next.png") no-repeat 0 -53px transparent;
}
.rtl .widget-manufacture .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0px;
  left: auto;
}

.widget-html .image-box {
  margin-top: 30px;
  padding-bottom: 20px;
}

.Home-product .banner {
  padding-top: 12px;
}

.Home-product .banner img{
	max-width:100%;
}