/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/**********************************************************
				Authentication Styles
**********************************************************/

#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
  display: none;
}

#create-account_form p {
  margin-bottom: 8px; color:#000; margin-top:7px;
}

#login_form .form-group.lost_password {
  margin: 14px 0 -17px 0; text-align:center;
}
.or-strip{margin-top: 26px;
    margin-bottom:0px;}
.or-strip.margrin-tp{margin-top: 26px; margin-bottom:20px;}
.or-strip img{ width:100%;}
#login_form .form-group.lost_password a {
  text-decoration:none; font-weight:bold; color:#f62459;
}
#login_form .form-group.lost_password a:hover {
  text-decoration: none;
}

#login_form, #create-account_form {

  min-height: 350px; 
  
}
#login_form .form-control, #create-account_form .form-control {
  max-width: 337px; width:100%;
}
.authentication-form{    
	float: left;
    width: 100%;
    margin-top:30px;}
.authentication-form .btn-facebook{   text-transform: uppercase; font-size:15px!important;}
.authentication-form .btn-facebook .fa {
		position: relative;
    width: 100%;
    display: block; border-radius:3px;}
 .authentication-form  .fa-facebook-f:before, .authentication-form .fa-facebook:before{
	 content: "\f09a";
	 font-size: 23px;
    left: 13px;
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px}

