/**

 * Web Application Prefix Apply For Making Owner Styles

 */

/**

 *   Blocks Layout Selectors 

 */

/**

 * Product Item Selectors

 */

/***********************************************************************/

/**

* Transition-timing-function property@mixin 

*/

/*background RGBA

============================================*/

/****/

/* RIGHT TO LEFT */

/** CHECKOUT BY STEP */

/*  

 * LAYOUT VARIABLES 

 */

/**************************************************************

					CMS Pages Styles

***************************************************************/

#cms #center_column .list-1 li {

    padding: 4px 0 6px 0;

    font-weight: bold;

    color: #46a74e;

    border-top: 1px solid #e4e4e4;

}

#cms #center_column .list-1 li:first-child {

    border: none;

}

#cms #center_column .list-1 li em {

    font-size: 20px;

    line-height: 20px;

    padding-right: 15px;

    vertical-align: -2px;

}

#cms #center_column img {

    margin: 4px 0 17px;

    max-width: 100%;

    height: auto;

}
@media only screen and (max-width: 767px) {
    #cms #center_column img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .titles-story {
        padding: 20px 0 !important;
    }
    .paralax-story {
        height: auto !important;
        padding:0 !important;
    }
    .paralax-story .content-a .content-b .titles-story {
        padding-top: 0;
    }
}

#cms #center_column .testimonials {

    border: 1px solid;

    border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;

    margin: 4px 0 13px 0;

    position: relative;

}

#cms #center_column .testimonials .inner {

    padding: 19px 18px 11px 18px;

    background: #fbfbfb;

    background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));

    background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);

    background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);

    background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);

    background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%);

}

#cms #center_column .testimonials .inner span {

    text-indent: -5000px;

    display: inline-block;

    width: 20px;

    height: 15px;

}

#cms #center_column .testimonials .inner span.before {

    background: url(../img/bl-before-bg.png) no-repeat;

    margin-right: 8px;

}

#cms #center_column .testimonials .inner span.after {

    background: url(../img/bl-after-bg.png) no-repeat;

    margin-left: 8px;

}

#cms #center_column .testimonials:after {

    content: ".";

    display: block;

    text-indent: -5000px;

    position: absolute;

    bottom: -16px;

    left: 21px;

    width: 15px;

    height: 16px;

    background: url(../img/testimon-after.gif) no-repeat;

}

#cms #center_column .testimonials + p {

    padding-left: 45px;

    margin-bottom: 18px;

}

#cms #center_column p.bottom-indent {

    margin-bottom: 18px;

}

#cms #center_column #admin-action-cms {

    background: none repeat 0 0 #F6F6F6;

    border: 1px solid #d2d0d0;

    padding: 10px;

}

#cms #center_column #admin-action-cms p {

    margin: 0;

}

#cms #center_column #admin-action-cms p span {

    display: block;

    padding-bottom: 10px;

    font-size: 14px;

    font-weight: bold;

    color: black;

}

#cms #center_column #admin-action-cms p .button {

    padding: 0;

    border: 1px solid;

    padding: 10px 14px;

    display: inline-block;

}

#cms #center_column #admin-action-cms p .button.publish_button {

    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

    border-color: #0079b6 #006fa8 #012740 #006fa8;

    background: #009ad0;

    background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));

    background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);

    background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);

    background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);

    background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);

}

#cms #center_column #admin-action-cms p .button.publish_button:hover {

    border-color: #01314e #004b74 #0079b6 #004b74;

    filter: none;

    background: #0084bf;

}

#cms #center_column #admin-action-cms p .button.lnk_view {

    text-shadow: 1px 1px white;

    border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;

    background: #f7f7f7;

    background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));

    background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);

    background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);

    background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);

    background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);

}

#cms #center_column #admin-action-cms p .button.lnk_view:hover {

    border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;

    filter: none;

    background: #e7e7e7;

}

/*Custom About Us */

section {
    position: relative;
}

header {
    top: 0px;
}

header img {
    max-width: 100%;
    top: 0px;
}

.section {

    padding: 6em 1.5em;

    position: relative;

    overflow: hidden;

    background: white;

}

.section_intro {
    background: url(../img/about-us-bg.jpg) no-repeat center;
    color: #fff;
    position: relative;

}

.not-fullscreen.background.parallax {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center 0 !important;
    height: 625px;
    width: 100%;
    margin-top: 25px;
}
@media only screen and (max-width: 1199px) {
    .not-fullscreen.background.parallax {
        height: 500px;

    }
}
@media only screen and (max-width: 991px) {
    .not-fullscreen.background.parallax {
        height: 300px;

    }
}
@media only screen and (max-width: 700px) {
    .not-fullscreen.background.parallax {
        background-size: cover!important;
    }
}


.hero-content.hero-content-for-pages {

    top: 47%;

}

.hero-content {

    position: absolute;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;

    left: 0;

    right: 0;

    margin: auto;

    z-index: 4;

    text-align: center;

}

.hero-content h6 {

    font-size: 42px;

    margin: auto;

    margin-top: 0;

    margin-bottom: 20px;

    font-weight: 600;

    color: #fcfcfc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8a6d3b;
    text-shadow: 4px 4px 6px #000000;

    text-transform: uppercase;

    font-family: 'Josefin Sans', sans-serif !important;

}

.arrow-down {

    cursor: pointer;

    position: absolute;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;

    bottom: 27px;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

}

.sections-story {

    padding: 50px 0;

}

.titles-story {

    font-family: 'Josefin Sans', sans-serif;

    line-height: 41px;

    font-size: 34px;

    padding: 60px 0;

    text-align: left;

    color: #000000;

}

/***section-2***/

#sec-02 .colum-right .effect_box {
    text-align: right;
    padding-top: 54px;
    overflow: hidden;
}

/***sectotion-3**/

.sectoion-03 .text22 {
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
}

.sectoion-03 img {
    padding-top: 40px;
}

.text22 {
    font-size: 22px;
    line-height: 32px;
}

.text-color-white {
    color: #fff;
}

.width-text-smaller {
    width: 80%;
}

.sectoion-03.bg-03 {
    background: url(../img/sec-03-bg-img.jpg) no-repeat center top;
    background-size: cover;
    min-height: 400px;
}

/**section-4**/

.paralax-story {
    background-size: cover;
    height: 422px;
    overflow: hidden;
}

.sec-04 .section-story, .sec-04 .container, .sec-04 .row, .sec-04 .col-sm-6 {
    height: 100%;
}

.sec-04 .content-a {
    display: table;
    height: 100%;
    width: 100%;
}

.sec-04 .content-a .content-b {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle
}

.paralax-story .sections-story {

    padding: 0;

    min-height: 324px;

}

.triangle-topright {

    width: 0;

    position: absolute;

    right: 0;

    top: 0;

    height: 0;

    border-top: 10px solid transparent;

    border-bottom: 10px solid transparent;

    border-right: 10px solid #f62459

}

/***section-05**/

.section-options {
    padding: 0px;
    overflow: hidden;
}

.ss {

    min-height: 400px;

    background-position: center;

}

.s1 {
    background-image: url(../img/option-01-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.s2 {
    background-image: url(../img/option-02-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.s3 {
    background-image: url(../img/option-03-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.shadows {

    width: 100%;

    left: 0;

    height: 100%;

    position: absolute;

    background: rgba(8, 0, 0, 0);

    border: 1px solid #fff;

    transition: .4s;

}

.ss:hover .shadows {

    background: rgba(245, 35, 88, 0.31);

}

.option-center-text {

    position: absolute;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;

    top: 50%;

    left: 24%;

    -webkit-transform: translate(-18%, -50%);

    -ms-transform: translate(-18%, -50%);

    transform: translate(-18%, -50%);

    color: #fff;

}

.option-center-text .text19 {

    font-size: 19px;

    line-height: 30px;

    font-weight: lighter;

}

.option-center-text a {

    background-color: #f62459;

    padding: 2px 8px;

    color: #fff;

    transition: .5s;

    border: 1px solid #f62459;

    font-size: 17px;

}

.option-center-text a:hover {
    background-color: transparent;
    border: 1px solid #fff;

}

.border-left-none .shadows {
    border-left: 0px;
}

.border-right-none .shadows {
    border-right: 0px;
}

/***footer**/

footer img {
    max-width: 100%;
}

/***mediaquery**/

@media only screen and (min-width: 1200px) {

    .custom-widthpx {
        width: 22%
    }

}

@media only screen and (max-width: 1200px) {

    .hero-content h6 {
        font-size: 21px;
    }

}

@media only screen and (max-width: 767px) {

    .arrow-down {
        left: 45%;
    }

    .titles-story {
        font-size: 26px;
    }

    .section {
        padding: 0em 1.5em;
    }

    #sec-02 .colum-right .effect_box {
        margin-bottom: 48px;
        display: block;

        text-align: center;
    }

    .section_intro {
        height: 409px;
    }

    .width-text-smaller {
        width: 100%;
    }

    .hero-content.hero-content-for-pages {
        width: 82%;
    }

    .width-100px {
        float: none;
        text-align: center;
    }

}

@media only screen and (min-width: 320px) and  (max-width: 480px) {

    .art-sign {
        width: 80%;
    }

    .border-left-none .shadows {
        border-left: 1px solid #fff;
    }

    .border-right-none .shadows {
        border-right: 1px solid #fff;
    }

}

@media only screen and (min-width: 481px) and  (max-width: 767px) {

    .art-sign {
        width: 48%;
    }

    .border-left-none .shadows {
        border-left: 1px solid #fff;
    }

    .border-right-none .shadows {
        border-right: 1px solid #fff;
    }

}

@media only screen and (min-width: 768px) and  (max-width: 991px) {

    .border-left-none .shadows {
        border-left: 1px solid #fff;
    }

    .border-right-none .shadows {
        border-right: 1px solid #fff;
    }

    .arrow-down {
        bottom: 101px;
    }

    .sectoion-03 .text22 {
        padding-left: 57px;
    }

}

@media only screen and (min-width: 992px) and  (max-width: 1200px) {

    .arrow-down {
        bottom: 101px;
    }

}

#clickdesk-appendable-bubble .cd-bubble.clickdesk_bubble.top_to_bottom {
    padding-right: 100px;
}
