/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
#my-account .addresses-lists {
  margin-bottom: 30px; margin:auto; margin-top:42px;max-width:729px; width:98%;
}
.addresses-lists-left{ float:left; width:46%;}
.addresses-lists-right{ float:right; width:46%;}
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px;
}
#my-account ul.myaccount-link-list li a {
	
  display: block;
  overflow: hidden;
  color: #000000;
  text-transform:capitalize;
  text-decoration: none;
  position: relative;
  border: 1px solid;
  border-color: #ececec;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius:2px; background-color:#f9f9f9;
}
#my-account ul.myaccount-link-list li a i {
	
  font-size: 25px;
  color: #f62459;
  position: absolute;
  left:11px;
  top:4px;
  width: 52px;
  height: 100%;
  padding: 10px 0 0 0;
  text-align: center;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 13px 15px 15px 17px;
  overflow: hidden;
  margin-left:31px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#my-account ul.myaccount-link-list li a:hover {
  filter: none;
  background: #000; color:#fff;
  border-color: #000;
}
/****accont-listing***/
#my-account ul.myaccount-link-list li a .fa-list-ol:before{ content:""; position:absolute; left:0px; width:20px; height:20px; background:url(../img/list-order-icon.png) no-repeat; }
#my-account ul.myaccount-link-list li a .fa-ban:before { content:""; position:absolute; left:0px; height:20px; width:20px; background:url(../img/list-credit-slip-icon.png)  no-repeat;}
#my-account ul.myaccount-link-list li a .fa-building:before { content:""; position:absolute; left:0; right:0px; height:23px; width:25px;  background:url(../img/listaddres-icon.png) no-repeat; }
#my-account ul.myaccount-link-list li a .fa-user:before { content:""; position:absolute; left:0px; right:0px; background:url(../img/list-user-icon.png) no-repeat; height:22px; width:22px;}
#my-account ul.myaccount-link-list li a .fa-wishlist:before { content:""; position:absolute; left:0; right:0px; height:20px; width:21px;  background:url(../img/listing-address-icon.png) no-repeat; }
#my-account  .footer_links{ width:100%; float:left;}
#my-account  .footer_links a{ color:#f92359; font-weight:bold; margin:0px; padding:0px; padding-left:8px;}
#my-account ul.myaccount-link-list li a i.fa.fa-cogs{width: 29px;}
.fa-gears:before, .fa-cogs:before{ color:#000;}

#my-account ul.myaccount-link-list li a:hover .fa-list-ol:before{ content:""; position:absolute; left:0px; width:20px; height:20px; background:url(../img/list-order-icon-hover.png) no-repeat; }
#my-account ul.myaccount-link-list li a:hover .fa-ban:before { content:""; position:absolute; left:0px; height:20px; width:20px; background:url(../img/list-credit-slip-icon-hover.png)  no-repeat;}
#my-account ul.myaccount-link-list li a:hover .fa-wishlist:before { content:""; position:absolute; left:0; right:0px; height:23px; width:25px;  background:url(../img/listing-wish-list-hover.png) no-repeat; }
#my-account ul.myaccount-link-list li a:hover .fa-user:before { content:""; position:absolute; left:0px; right:0px; background:url(../img/list-user-icon-hover.png) no-repeat; height:23px; width:25px;}
#my-account ul.myaccount-link-list li a:hover .fa-building:before { content:""; position:absolute; left:0; right:0px; height:23px; width:25px;  background:url(../img/listingaddres-icon-hover.png) no-repeat; }
#my-account ul.myaccount-link-list li a:hover i.fa.fa-cogs:before{ color:#fff;}