/**
 * Web Application Prefix Apply For Making Owner Styles
 */

/**
 *   Blocks Layout Selectors 
 */

/**
 * Product Item Selectors
 */

/***********************************************************************/

/**
* Transition-timing-function property@mixin 
*/

/*background RGBA
============================================*/

/****/

/* RIGHT TO LEFT */

/** CHECKOUT BY STEP */

/*
 * LAYOUT VARIABLES 
 */

/* primary_block ***************************************************************************** */

.primary_block {
    margin-bottom: 40px;
}

.product-heading-h5 {
    color: #999999;
    font-weight: 200;
    margin: 3px 0 8px;
    font-size: 19px;

}

.box-security .product-heading-h5 {
    margin: 3px 0 -8px;
}

img {
    max-width: 100%;
    height: auto;
}

.page-product-box .page-subheading {
    position: relative;
    border-top: 1px solid black;
    padding: 15px 0;
}

.page-product-box .page-subheading:before {
    height: 3px;
    width: 35px;
    background-color: #666666;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
}

.page-product-box .page-subheading:after {
    background-color: black;
    height: 1px;
    width: 100%;
    top: 2px;
    left: 0;
    content: "";
    position: absolute;
}

.nav-tabs.page-product-heading {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    /*width: 100%;*/
    float: left;
}

.nav-tabs.page-product-heading li {
    position: relative;
    border-left: 1px solid black;
    padding: 10px 10px 5px 15px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.rtl .nav-tabs.page-product-heading li {
    padding: 10px 15px 5px 10px;
}

.nav-tabs.page-product-heading li.active,
.nav-tabs.page-product-heading li:hover {
    background: white;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: -2px;
}

.nav-tabs.page-product-heading li a {
    color: black;
    padding: 0;
    border: none;
}

.nav-tabs.page-product-heading li a:hover,
.nav-tabs.page-product-heading li a:focus {
    border: none;
    background: none;
}

.nav-tabs.page-product-heading li:first-child {
    border: none;
}

.nav-tabs.page-product-heading li:first-child.active,
.nav-tabs.page-product-heading li:first-child:hover {
    background: white;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: -2px;
}

.nav-tabs.page-product-heading li:first-child.active:before,
.nav-tabs.page-product-heading li:first-child:hover:before {
    left: 0;
}

.more_info_block .tab-content {
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-top: -4px;
}

/* .pb-left-column ***************************************************************************** */

.pb-left-column {
    /* miniatures */
}

.pb-left-column #image-block {
    position: relative;
    margin-bottom: 10px;
}

.pb-left-column #image-block #view_full_size {
    display: block;
    cursor: pointer;
    text-align: left;
}

.rtl .pb-left-column #image-block #view_full_size {
    text-align: right;
}

.pb-left-column #image-block #view_full_size a {
    display: inline-block;
}

.pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 5px;
    right: 32px;
    display: block;
    padding: 4px;
    text-align: center;
    line-height: 20px;
}

.rtl .pb-left-column #image-block #view_full_size .span_link {
    left: 32px;
    right: auto;
}

.pb-left-column #image-block #view_full_size .span_link:after {
    font-family: "FontAwesome";
    color: #c0c0c0;
    font-size: 20px;
    line-height: 20px;
    content: "\f00e";
    font-weight: normal;
    margin: 0 0 0 2px;
}

.rtl .pb-left-column #image-block #view_full_size .span_link:after {
    margin: 0 2px 0 0;
}

.pb-left-column #image-block #view_full_size .span_link:hover:after {
    color: white;
}

.pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px;
}

.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none;
}

.pb-left-column #image-block .zoomPad {
    z-index: auto !important;
}

.pb-left-column #views_block {
    position: relative;
}

#thumbs_list {

}

.rtl #thumbs_list {
    float: right;
}

.rtl #thumbs_list {
    margin-right: 30px;
    margin-left: inherit;
}

#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: 0;
    width: 600px;
}

.rtl #thumbs_list ul#thumbs_list_frame {
    padding-right: 0;
    padding-left: inherit;
}

#thumbs_list li {
    float: left;
    height: 600px;
    width: 600px;
    cursor: pointer;
    margin-right: 8px;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rtl #thumbs_list li {
    float: right;
}

.rtl #thumbs_list li {
    margin-left: 8px;
    margin-right: inherit;
}

#thumbs_list li:first-child {
    margin: 0 9px 0 0;
}

.rtl #thumbs_list li:first-child {
    margin: 0 0 0 9px;
}

#thumbs_list li.last {
    margin-right: 0;
}

.rtl #thumbs_list li.last {
    margin-left: 0;
    margin-right: inherit;
}

#thumbs_list li a {
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

#thumbs_list li img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.primary_block span.view_scroll_spacer {
    float: left;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0;
    z-index: 1000;
}

.rtl .primary_block span.view_scroll_spacer {
    float: right;
}

.rtl .primary_block span.view_scroll_spacer {
    right: 0;
    left: auto;
}

#thumbs_list .owl-controls .owl-prev,
#thumbs_list .owl-controls .owl-next {
    height: 36px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 15;
    background: none;
    font-style: normal;
    width: 16px;
    padding: 0;
}

#thumbs_list .owl-controls .owl-prev:before,
#thumbs_list .owl-controls .owl-next:before {
    color: black;
    font-family: "FontAwesome";
    font-size: 36px;
    line-height: 1;
}

#thumbs_list .owl-controls .owl-prev:hover:before,
#thumbs_list .owl-controls .owl-next:hover:before {
    color: black;
}

#thumbs_list .owl-controls .owl-next {
    right: 0;
    left: auto;
}

#thumbs_list .owl-controls .owl-prev {
    left: 0;
}

.rtl #view_scroll_right {
    left: 0;
    right: auto;
}

#thumbs_list .owl-controls .owl-next:before {
    content: "\f105";
}

#view_scroll_left {
    margin-top: 0;
}

#thumbs_list .owl-controls .owl-prev:before {
    content: "\f104";
    padding-right: 2px;
}

.resetimg {
    padding: 10px 0 0;
}

.resetimg #resetImages i {
    margin-right: 6px;
}

.rtl .resetimg #resetImages i {
    margin-left: 6px;
    margin-right: inherit;
}

/* link list */

#usefull_link_block {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
}

#usefull_link_block li {
    margin: 5px 5px 0 5px;
    display: inline-block;
    float: left;
}

.rtl #usefull_link_block li {
    margin: 5px 5px 0 5px;
}

.rtl #usefull_link_block li {
    float: right;
}

#usefull_link_block li:first-child {
    margin: 5px 5px 0 0;
    border: none;
    padding: 0;
}

.rtl #usefull_link_block li:first-child {
    margin: 5px 0 0 5px;
}

#usefull_link_block li a {
    position: relative;
    padding-left: 25px;
    line-height: 22px;
    display: inline-block;
    font-weight: 500;
}

.rtl #usefull_link_block li a {
    padding-right: 25px;
    padding-left: inherit;
}

#usefull_link_block li a:before {
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    left: 0;
    font-weight: normal;
}

.rtl #usefull_link_block li a:before {
    right: 0;
    left: auto;
}

#usefull_link_block li#left_share_fb a:hover {
    color: #fff;
}

#usefull_link_block li a:hover:before {
    color: #fff;
}

#usefull_link_block li.print a:before {
    content: "\f02f";
}

#usefull_link_block li.sendtofriend a:before {
    content: "\f003";
}

#usefull_link_block li#left_share_fb {
    clear: both;
    float: none;
    border: 1px solid #3b5998;
    color: #3b5998;
    padding: 4px 10px;
    border-radius: 2px;
    position: relative;
    top: -4px;
}

#usefull_link_block li#left_share_fb:hover {
    background: #3b5998;
}

#usefull_link_block li#left_share_fb a {
    padding-left: 18px;
    color: #3b5998;
}

#usefull_link_block li#left_share_fb a:before {
    content: "\f09a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove,
#usefull_link_block li#favoriteproducts_block_extra_add,
#usefull_link_block li#favoriteproducts_block_extra_removed,
#usefull_link_block li#favoriteproducts_block_extra_added {
    cursor: pointer;
    clear: both;
    float: none;
    margin: 0 0 8px 0;
    border: none;
    padding: 0;
    position: relative;
}

#usefull_link_block li#favoriteproducts_block_extra_remove:before,
#usefull_link_block li#favoriteproducts_block_extra_add:before,
#usefull_link_block li#favoriteproducts_block_extra_removed:before,
#usefull_link_block li#favoriteproducts_block_extra_added:before {
    font-family: "FontAwesome";
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    font-weight: normal;
    content: "\f08a";
}

.rtl #usefull_link_block li#favoriteproducts_block_extra_remove:before,
.rtl #usefull_link_block li#favoriteproducts_block_extra_add:before,
.rtl #usefull_link_block li#favoriteproducts_block_extra_removed:before,
.rtl #usefull_link_block li#favoriteproducts_block_extra_added:before {
    right: 0;
    left: auto;
}

#usefull_link_block li#favoriteproducts_block_extra_removed:before {
    content: "\f004";
}

/* pb-left-column ****************************************************************************** */

.pb-center-column {
    margin-bottom: 0;
    padding-left: 30px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .pb-center-column {
        padding-left: 10px;
    }
}

.pb-right-column {
    padding-left: 30px;
}

.pb-center-column h1 {
    padding-bottom: 16px;
    margin-top: 0;
    font-size: 24px;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
}


.pb-center-column p {
    margin-bottom: 10px;
}

.pb-center-column #product_reference {
    margin-bottom: 6px;
}

.pb-center-column #buy_block {
    margin-top: 10px;
}

.pb-center-column #buy_block label {
    display: inline-block;
    width: 34%;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.rtl .pb-center-column #buy_block label {
    text-align: left;
}

.pb-center-column #buy_block p.price {
    padding: 0;
}

.pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700;
}

#product p#loyalty {
    padding: 17px 0 15px 35px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin: 10px 0 -5px;
    position: relative;
}

.rtl #product p#loyalty {
    padding: 17px 35px 15px 0;
}

#product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0;
}

.rtl #product p#loyalty:before {
    right: 0;
    left: auto;
}

#attributes fieldset {
    padding-bottom: 3px;
}

#attributes fieldset label {
    vertical-align: top;
    display: block;
}

#attributes .attribute_list {
    width: 100%;
}

#attributes .attribute_list .form-control {
    max-width: 230px;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
}

#attributes .attribute_list .list-dropdown::after {
    line-height: 23px;
}

#attributes .attribute_list .form-control option {
    color: black;
}

#attributes .attribute_list ul {
    clear: both;
}

#attributes .attribute_list ul li {
    float: left;
    margin-right: 10px;
}

.rtl #attributes .attribute_list ul li {
    float: right;
}

.rtl #attributes .attribute_list ul li {
    margin-left: 10px;
    margin-right: inherit;
}

#attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px;
}

.rtl #attributes .attribute_list input.attribute_radio {
    float: right;
}

.rtl #attributes .attribute_list input.attribute_radio {
    margin-right: 3px;
    margin-left: inherit;
}

#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
    float: none;
    display: inline-block;
}

#attributes .attribute_list #color_to_pick_list {
    list-style-type: none;
}

#attributes .attribute_list #color_to_pick_list li {
    float: left;
    margin: 0 3px 3px 0;
    padding: 1px;
    border: 1px solid #e4e4e4;
    clear: none;
}

.rtl #attributes .attribute_list #color_to_pick_list li {
    float: right;
}

.rtl #attributes .attribute_list #color_to_pick_list li {
    margin: 0 0 3px 3px;
}

#attributes .attribute_list #color_to_pick_list li a.color_pick {
    display: block;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

#attributes .attribute_list #color_to_pick_list li.selected {
    border: 1px solid #4d4d4d;
}

.box-cart-bottom {
    padding: 0px;
    text-align: center;
    background: #666666;
    margin-top: 40px;
}

.box-cart-bottom .btn-outline {
    background: transparent;
    border-radius: 0;
    border: 1px solid #333;
    color: #333;
    font-size: 13px;
    min-width: 140px;
}

.box-cart-bottom .btn-outline:hover {
    background: #333;
    color: white;
}

.box-cart-bottom .btn-outline .fa {
    padding-right: 8px;
}

.rtl .box-cart-bottom .btn-outline .fa {
    padding-left: 8px;
    padding-right: inherit;
}

.box-wishlist-bottom {
    text-align: center;
    background: transparent;
}

.box-wishlist-bottom .buttons_bottom_block {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding: 3px 0px;
}

.box-wishlist-bottom .buttons_bottom_block:hover {
    background: #f8f8f8;
    color: #666666;
}

.box-wishlist-bottom .buttons_bottom_block a {
    text-transform: uppercase;
    font-size: 13px;
}

.box-wishlist-bottom .buttons_bottom_block a:hover {
    color: #848484;
}

.box-wishlist-bottom .buttons_bottom_block #wishlist_button:before {
    color: #666;
}

.box-wishlist-bottom #product_payment_logos {
    padding-top: 20px;
}

/* table_data_sheet */

.table-data-sheet {
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    margin: 0 0 20px;
}

.table-data-sheet tr {
    border-top: 1px solid #e4e4e4;
}

.table-data-sheet tr.even {
    background: #fdfdfd;
}

.table-data-sheet tr td {
    padding: 10px 20px 11px;
}

.table-data-sheet tr td:first-child {
    border-right: 1px solid #e4e4e4;
    width: 30%;
    font-weight: 500;
}

/* table product-discounts */

table.table-product-discounts {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    width: 50%;
    margin: 0 0 20px;
}

@media (max-width: 601px) {
    .nav-tabs {
        width: 100%;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    table.table-product-discounts {
        width: 100%;
    }
}

table.table-product-discounts tr th {
    background: transparent;
    font-weight: 700;
    border: none;
    font-weight: 700;
}

table.table-product-discounts tr td,
table.table-product-discounts tr th {
    border-left: 1px solid #e4e4e4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #e4e4e4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none;
}

/* quantity_wanted */

#quantity_wanted_p input {
    width: 78px;
    float: left;
    height: 31px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border: 1px solid #bdc2c9;
    padding: 3px;
}

.rtl #quantity_wanted_p input {
    float: right;
}

#quantity_wanted_p .btn {
    float: left;
    border: 1px solid #bdc2c9;
    height: 31px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0 10px;
    line-height: 30px;
    background: white;
}

.rtl #quantity_wanted_p .btn {
    float: right;
}

#quantity_wanted_p .btn.product_quantity_down {
    margin-right: -1px;
}

.rtl #quantity_wanted_p .btn.product_quantity_down {
    margin-left: -1px;
    margin-right: inherit;
}

#quantity_wanted_p .btn.product_quantity_up {
    margin-left: -1px;
}

.rtl #quantity_wanted_p .btn.product_quantity_up {
    margin-right: -1px;
    margin-left: inherit;
}

#quantity_wanted_p .btn:hover,
#quantity_wanted_p .btn:focus {
    color: #666666;
}

/* availability_statut */

#availability_statut span#availability_label,
#availability_date_label {
    display: inline-block;
    width: 125px;
    font-weight: 700;
    font-size: 12px;
    text-align: right;
}

.rtl #availability_statut span#availability_label,
.rtl #availability_date_label {
    text-align: left;
}

#quantityAvailable {
    font-size: 13px;
    line-height: 18px;
}

#availability_value,
#last_quantities {
    color: #666666;
    line-height: 18px;
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    #availability_value,
    #last_quantities {
        margin-left: 0;
    }
}

.rtl #availability_value,
.rtl #last_quantities {
    margin-right: 5px;
    margin-left: inherit;
}

#last_quantities {
    background: #6087d2;
    padding: 4px 8px 3px;
    position: relative;
    top: 1px;
}

#availability_statut,
#pQuantityAvailable {
    display: inline-block;
}

#pQuantityAvailable span {
    font-weight: 500;
}

#availability_statut #availability_value.warning_inline {
    margin: 0;
}

/* box-security */

/* prices */

.content_prices {
    padding: 0 0 5px 0;
}

.discount {
    display: none;
}

.our_price_display {
    font-size: 23px;
    display: inline-block;
}

#old_price,
.old-price {
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
    color: #666666;
    vertical-align: top;
    padding-top: 3px;
    line-height: 23px;
}
.old-price {
    line-height: 1;
}

#old_price .price,
.old-price .price {
    color: #666666;
}

#reduction_percent,
#reduction_amount {
    display: inline-block;
    margin-right: 10px;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 23px;
    color: white;
    background: #f13340;
    border: 1px solid #d02a2c;
    margin-top: 1px;
    vertical-align: top;
    margin-left: 4px;
}

.rtl #reduction_percent,
.rtl #reduction_amount {
    margin-left: 10px;
    margin-right: inherit;
}

#reduction_percent span,
#reduction_amount span {
    display: block;
}

/* online_only */

.pb-center-column p.online_only {
    font-weight: 700;
    font-size: 13px;
    color: #f13340;
    text-align: left;
}

.rtl .pb-center-column p.online_only {
    text-align: right;
}

.buttons_bottom_block {
    margin-top: 0px;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
    width: 555px;
    overflow: hidden;
}

#send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #e4e4e4;
}

#send_friend_form .product p {
    padding: 0;
}

#send_friend_form .product p .product_name {
    font-size: 12px;
    color: #000;
}

#send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
    background: transparent;
}

#send_friend_form .form_container p.intro_form {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
}

#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: #666;
}

#send_friend_form .form_container .text {
    padding-bottom: 10px;
}

#send_friend_form .form_container .text label {
    display: block;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

#send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right;
}

.rtl #send_friend_form .submit {
    text-align: left;
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
    margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
    list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.customizationUploadLine {
    padding-bottom: 10px;
}

.customizationUploadLine label {
    display: block;
    vertical-align: top;
}

.customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #e4e4e4;
    color: #666666;
}

.customizationUploadBrowse img + a {
    position: relative;
    top: -51px;
}

#customizedDatas {
    float: right;
}

.rtl #customizedDatas {
    float: left;
}

.accessories_block div ul li a {
    display: inline-block;
}

.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
    font-weight: 700;
}

/***** IE code ****/

.ie8 .pb-left-column #image-block #view_full_size .span_link {
    background: #fff;
    border: 1px solid #e4e4e4;
}

.ie8 .box-security {
    filter: none;
}

.socialsharing_product button {
    border: 1px solid #e4e4e4;
}

/******************************************************************
Quick View Styles
******************************************************************/

.addsharethisinner .stButton .stArrow {
    display: none !important;
}

#product.content_only div.primary_block {
    margin-bottom: 0;
    padding: 10px;
}

@media (max-width: 991px) {
    #product.content_only div.primary_block {
        margin-right: 0;
    }

    #product .primary_block .col-sm-6 {
        width: 100%;
    }
}

#product.content_only #leo-paneltool {
    display: none;
}

@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-left-column,
    #product.content_only section.primary_block div.pb-left-column {
        width: 100%;
        padding-right: 15px;
    }

    #product.content_only div.primary_block div.pb-left-column #image-block,
    #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
        max-width: 470px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
        width: 90px;
        height: 90px;
    }

    #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px;
    }

    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        width: 50%;
        float: left;
        padding-left: 35px;
    }

    .rtl #product.content_only div.primary_block div.pb-center-column,
    .rtl #product.content_only section.primary_block div.pb-center-column {
        float: right;
    }

    .rtl #product.content_only div.primary_block div.pb-center-column,
    .rtl #product.content_only section.primary_block div.pb-center-column {
        padding-right: 35px;
        padding-left: inherit;
    }

    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
        width: 50%;
        float: left;
    }

    .rtl #product.content_only div.primary_block div.pb-right-column,
    .rtl #product.content_only section.primary_block div.pb-right-column {
        float: right;
    }
}

/*accessories-block*/

.accessories-block .box-button > div a {
    top: 50%;
    left: 55%;
}

.pb-center-column h1 {
    padding: 0 0 14px 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}


@media only screen and (max-width: 480px) {
    .pb-center-column h1 {
        font-size: 20px;
    }
}

.pb-center-column #product_reference {

}

#product_comments_block_extra .comments_note {
    margin: 2px 0 0 0;
}

#product_reference label {
    color: #9b9b9b;
    font-weight: 400;
    margin: 0;
}

#product_reference span {
    color: #000;
    font-weight: 600;
}

#usefull_link_block {

}

#usefull_link_block li:first-child {
    margin: 0px 5px 0 5px;
}

#usefull_link_block li {
    margin: 0px 5px 0 5px;
}

.our_price_display {
    font-size: 30px;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    line-height: 1;
}

.price {
    color: black;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    /*border-top: 1px solid #e1e9e9;*/
}

.unit-price {
    font-size: 12px;
    color: #9b9b9b;
    margin: 0;
    padding: 0;
    line-height: normal;
}

#short_description_block {
    margin: 0;
    padding: 10px 0 0 0;
}

#short_description_block p {
    font-size: 14px;
    color: #000;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: left;
    line-height: 22px;
}

#quantity_wanted_p .btn {
    border: 1px solid #afafaf;
    height: 36px;
    padding: 0 10px;
    line-height: 32px;
    width: 36px;
    color: #999;
    margin: 0;
}

#quantity_wanted_p input {
    border-color: #d2d2d2 !important;
    width: 50px;
    height: 36px;
    font-size: 14px;
    color: #000;
    margin: 0;
    text-align: center;
}

#quantity_wanted_p {
    width: 121px;
    margin: 0 auto;
    padding: 0;
    display: none;
}

#quantity_wanted_p.gift {
    display: block
}

#quantity_wanted_p .q-text {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    float: left;
    display: inline-block;
    width: 70px;
    margin: 0;
    padding: 5px 0 0 0;
}

.box-cart-bottom {
    padding: 0;
    height: 36px;
    line-height: 33px;
    margin: 10px auto;
    clear: both;
    background: none;
}

.box-cart-bottom i {
    display: none;
}

.buttons_bottom_block {
    margin: 0px;
}

#availability_statut,
#pQuantityAvailable {
    display: inline-block;
    float: left;
    margin: 10px 0 0 00px;
}

@media only screen and (max-width: 767px) {
    #availability_statut {
        display: block;
        float: none;
    }
}

#pQuantityAvailable {
    margin-left: 10px;
}

.product_attributes {
    margin: 0;
    padding: 30px 0 20px 0;
}

@media only screen and (max-width: 480px) {
    .product_attributes {
        padding: 10px 0;
    }
}

#attributes fieldset label {
    vertical-align: top;
    width: auto;
    display: inline-block;
    font-size: 14px;
    color: #9b9b9b;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: 400;
}

#attributes .attribute_list {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    #attributes .attribute_list {
        text-align: left;
    }

    #attributes .attribute_fieldset .list-dropdown {
        width: 230px;
    }
}

@media only screen and (max-width: 480px) {
    #attributes .attribute_list {
        width: 100%;
    }

    #attributes .attribute_fieldset .list-dropdown {
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    }
}

.box-wishlist-bottom {
    background: #f8f8f8;
}

.box-wishlist-bottom .buttons_bottom_block {
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;
    text-align: left;
    padding: 15px;
    float: left;
    margin-bottom: 0;
}

#wishlist_button,
#wishlist_button_nopop {
    font-weight: 700;
    cursor: pointer;
    color: #6d6d6d;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
}

#wishlist_button::before,
#wishlist_button_nopop::before {
    color: #6d6d6d;
}

.pb-left-column #image-block #view_full_size {

}

#thumbs_list li img {

}

.more_info_block .tab-content {
    margin-bottom: 20px;
    border: none;
    border-left: 1px solid #e4e4e4;
    padding: 0 20px 20px;
    margin-top: 0;
    min-height: 155px;
    display: inline-block;
}

.nav-tabs.page-product-heading li.active:first-child,
.nav-tabs.page-product-heading li:first-child:hover {
    border: none;
    margin-bottom: 10px;
}

.nav-tabs.page-product-heading li {
    position: relative;
    border-left: 1px solid black;
    padding: 10px 10px 5px 15px;
    border: none;
    background: #e2e2e2;
    height: 42px;
    padding: 0 15px;
    line-height: 45px;
    width: 97%;
    text-align: center;
    margin: 0 0 10px 0;
}

.nav-tabs.page-product-heading li a {
    padding: 0;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #707070;
    display: inline-block;
    background: transparent;
}

.nav-tabs.page-product-heading li.active:first-child,
.nav-tabs.page-product-heading li:first-child:hover,
.nav-tabs.page-product-heading li.active,
.nav-tabs.page-product-heading li:hover {
    background: #333;
    border: none;
    margin-bottom: 10px;
}

.nav-tabs.page-product-heading li.active:first-child a,
.nav-tabs.page-product-heading li:first-child:hover a,
.nav-tabs.page-product-heading li.active a,
.nav-tabs.page-product-heading li:hover a {
    color: #fff;
}

#availability_statut .label-success {
    color: #6acb23;
    background: transparent;
    font-size: 11px;
}

.product-block .content_price .price {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    line-height: 1.7;
}

/*range*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 6px;
    background: #333;
    margin-top: -6px;
    cursor: pointer;
    border-radius: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 6px;
    background: #333;
    cursor: pointer;
    border-radius: 0;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 6px;
    background: #333;
    cursor: pointer;
    border-radius: 0;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

body {
    /*padding: 30px;*/
}

.more_info_block .nav.nav-tabs, .more_info_block .tab-content {
    display: none;
}