/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
@media (min-width: 1400px) {
    .about img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    /*  form#searchbox{margin-top: 6px;
    position: absolute;
    right: 0;
    bottom: -46px;}*/
}

@media (min-width: 992px) and (max-width: 1065px) {
    /*.leo-megamenu .navbar-nav > li > a { padding: 6px 6px;}*/
}

@media (max-width: 1325px) {
    .header-default #header .container {
        max-width: 1300px;
        width: 98%;
    }

    #leo-footer-center .panel-group .nav-links {
        text-align: center;
    }

    #leo-footer-center .panel-group .nav-links > li {
        display: inline-block;
        padding: 3px 12px;
    }
}

@media (max-width: 1199px) {
    .header-default #header .container {
        width: 100%;
    }
    .zoomdiv {
        display: none !important;
    }
}

@media (max-width: 1196px) and (min-width: 992px) {
    .editortool .label-customize {
        display: none;
    }

    form#searchbox {
        /*width: 200px;*/
    }
}

@media (min-width: 1200px) {
    #guestTracking .form-group {
        overflow: hidden;
    }

    #guestTracking .form-group i {
        padding-left: 10px;
    }

    .rtl #guestTracking .form-group i {
        padding-right: 10px;
        padding-left: inherit;
    }

    #guestTracking .form-control {
        float: left;
    }

    .rtl #guestTracking .form-control {
        float: right;
    }

    #guestTracking label {
        float: left;
        clear: both;
        width: 100%;
    }

    .rtl #guestTracking label {
        float: right;
    }
}

@media (max-width: 1024px) {
    #header {
        position: relative;
    }

    #header
    .blog-heading .pull-left.custom-width {
        width: 23%;
    }

    #social_block ul li {
        margin-right: 2px;
    }

    .rtl #social_block ul li {
        margin-left: 2px;
        margin-right: inherit;
    }

    .product-block .left-block .price-old, .product-block .left-block .old-price {
        display: none;
    }

    .widget .widget-html .box-outer .reassurances-center {
        text-align: center;
    }

    .widget .widget-html .box-outer .reassurances-center .description {
        display: block;
        text-align: center;
    }

    .sticky-header #leo-mainnav {
        top: -14px;
    }

    .sticky-header .top-phrase-phone {
        padding-top: 10%;
    }

    form#searchbox {
        margin-top: 29px;
    }

    .sticky-header form#searchbox {
        margin-top: 17px;
    }
}

@media (max-width: 991px) {
    #leo-mainnav {
        top: -1px !important;
    }

    .product-image-container img {
        margin: 0 auto;
    }

    html {
        background: none;
    }

    .navbar-header .navbar-toggle {
        display: block;
        float: left;
        width: 40px;
        /*margin-left: 10px;*/
        background: black;
        border: 1px solid black;
        margin-top: 9px;
        padding: 6px 6px;
    }

    .rtl .navbar-header .navbar-toggle {
        float: right;
    }

    .navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
        border-color: #666666;
    }

    .collapse.navbar-collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none;
    }

    .navbar-nav > li {
        float: none;
        margin-bottom: 20px;
    }

    .navbar-header {
        float: none;
    }
}

@media (max-width: 991px) {
    .footer-top .block .blog-section .blog-side-left.effect {
        padding-left: 35px;
    }

    .top-phrase-phone {
        padding-top: 5px;
    }

    #header-main #header_logo {
        padding: 0px;
    }

    #leo-mainnav {
        display: inline-block;
    }

    .blockcart_top {
        position: absolute;
        top: 0;
        z-index: 99;
        width: auto;
        right: 0px;

    }

    #search_block_top {
        margin-top: 0px !important;
    }

    #header_right {
        position: absolute;
        right: 13px;
        top: 0px;
        width: 100%;
    }

    #topbar .topbar-box {
        right: 0px;
        top: 5px;
    }

    .blog-side-left {
        padding-right: 0px;
        text-align: center;
    }

    .blog-side-left img {
        height: auto;
    }

    .blog-title h2 {
        font-size: 34px;
        margin-top: 55px;
    }

    .footer-contact .widget-html {
        margin-left: 0px;
    }

    .rtl .footer-contact .widget-html {
        margin-right: 0px;
        margin-left: inherit;
    }

    form#searchbox {
        /*height: 43px;*/
    }

    #social_block ul {
        text-align: center;
        padding-bottom: 0px;
    }

    .rtl #social_block ul {
        text-align: right;
    }

    #topbar .popup-title {
        margin-left: 5px;
        /*padding: 0px 15px;*/
    }

    .rtl #topbar .popup-title {
        margin-right: 5px;
        margin-left: inherit;
    }

    #topbar .topbar-box {
        padding-right: 0px;
    }

    .rtl #topbar .topbar-box {
        padding-left: 0px;
        padding-right: inherit;
    }

    #search_block_top .btn.button-search {
        top: 10px;
        right: 10px;
        text-decoration: none;
    }

    #search_block_top .groupe-btn {
        display: none;
        height: 34px;
        line-height: 15px;
        padding: 7px 10px;
        color: white;
        width: 32px;
        background: black;
        border: 1px solid #ededed;
        margin-right: 0px;
    }

    .rtl #search_block_top .groupe-btn {
        margin-left: 10px;
        margin-right: inherit;
    }

    #search_block_top #searchbox {
        display: inline-block;
        margin-left: 3px;
        margin-top: 0;
        top: 0;
        z-index: 999;
        background: #fff;
        width: 200px;
        border: none !important;
    }

    .rtl #search_block_top #searchbox {
        left: 11px;
        right: auto;
    }

    #search_block_top #search_query_top {
        border: 1px solid #c3c3c3;
        padding: 4px 5px !important;
    }

    #topbar .popup-over li {
        float: none;
        list-style-type: none;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    #topbar .popup-over li a {
        padding: 3px 0;
    }

    #topbar .popup-over li:last-of-type {
        margin-bottom: 0;
    }

    #topbar .topbar-box .popup-content {
        left: 6px;
        top: 25px;
    }

    .rtl #topbar .topbar-box .popup-content {
        right: 6px;
        left: auto;
    }

    #topbar .header_user_info.open .popup-over {
        display: block;
        left: 0;
    }

    .rtl #topbar .header_user_info.open .popup-over {
        right: 0;
        left: auto;
    }

    #topbar .header_user_info .dropdown-toggle {
        /*display: block;*/
        /*padding: 0px 15px;*/
    }

    .float-vertical {
        margin-bottom: 20px;
    }

    .float-vertical > .block_content {
        height: 0;
        overflow: hidden;
        border: none;
        -webkit-transition: height 0.4s ease 0s;
        transition: height 0.4s ease 0s;
    }

    .float-vertical.active > .block_content {
        position: relative;
        border: none;
    }

    div.verticalmenu .navbar-nav > li {
        float: left;
    }

    .rtl div.verticalmenu .navbar-nav > li {
        float: right;
    }

    div.verticalmenu .navbar-nav > li:hover {
        padding-left: 0;
    }

    .rtl div.verticalmenu .navbar-nav > li:hover {
        padding-right: 0;
        padding-left: inherit;
    }

    div.verticalmenu .navbar-nav > li.dropdown:hover > a:after {
        display: none;
    }

    #leo-verticalmenu .open > .dropdown-menu {
        max-width: 100%;
        position: relative;
        left: auto !important;
        width: 100% !important;
        top: 100%;
    }

    div.verticalmenu .navbar-nav {
        margin: 0;
    }

    .leo-megamenu {
        float: none;
    }

    .leo-megamenu {
        text-align: left;
    }

    .rtl .leo-megamenu {
        text-align: right;
    }

    .leo-megamenu .navbar-nav {
        display: block;
        height: auto;
        text-align: left;
    }

    .rtl .leo-megamenu .navbar-nav {
        text-align: right;
    }

    .product-block .left-block .price-old, .product-block .left-block .old-price {
        display: inline;
    }

    /*_________*/
    #topbar .topbar-box {
        width: auto;
    }

    header #topbar {
        text-align: center;
    }

    #header-main {
        position: absolute;
        display: inline-block;
        height: 60px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
    }

    #topbar .side-left {

        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -82px;
    }

    .leo-megamenu {
        margin-bottom: 0;
        margin-top: 40px;
    }

    #search_block_top {
        position: absolute;
        left: 57px;
        bottom: -152px;
    }

    .blockcart_top {
        top: 110px;
    }

    .htmlcontent-home .htmlcontent-item-1, .htmlcontent-item-2 {
        height: auto;
        width: 50%;
    }
}

@media (min-width: 767px) and  (max-width: 991px) {
    .leo-megamenu {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .container {
        width: 98%;
    }
}

@media (min-width: 769px) and  (max-width: 991px) {
    #topbar .side-left {
        bottom: -117px;
    }
}

@media (min-width: 992px) and  (max-width: 1200px) {
    li.logo {
        padding: 0px 0px;
        margin-left: 14px;
    }
}

@media (max-width: 768px) {
    .blog-section .blog-description p {
        padding-right: 0px;
    }

    .blog-section {
        padding-bottom: 20px;
    }

    .blog-description a.read-morelink {
        margin-top: 27px;
    }

    .blog-section .blog-description p {
        font-size: 15px;
    }

    .blog-title h2 {
        font-size: 22px;
    }

    .blog-section .group-box-01 .col-md-6 {
        padding-left: 36px !important;
    }

    .blog-title h2 {
        margin-top: 28px;
    }

    #social_block ul li {
        text-align: left;
    }

    .rtl #social_block ul li {
        text-align: right;
    }

    #header-main .inner {
        text-align: center;
    }

    #header-main #header_logo a {
        display: inline-block;
        margin-bottom: 20px;
        width: 80px;
    }

    #leo-megamenu .container > .inner {
        border: none;
    }

    #social_block {
        margin-top: 20px;
        border: none;
    }

    #social_block .block_content {
        padding: 10px;
    }

    .footer-nav {
        text-align: center;
    }

    #footnav {
        margin-top: 20px;
        text-align: center;
    }

    .footer-center .widget {
        border: none;
    }

    .footer-center .widget.html-contact .widget-html {
        border: none;
    }

    .effect {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .product-block .product-image-container img {
        display: inline-block;
        text-align: center;
    }

    .breadcrumb {
        padding-top: 0;
    }

    #columns #breadcrumb .breadcrumb {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .bx-controls.bx-has-controls-direction {
        display: none;
    }

    #columns {
        padding: 0px 0px 0px;
    }

    #index #page #columns .columns-container {
        padding-top: 0;
    }

    .animation_col_235 .effect.banner img {
        width: 100%;
        height: auto;
    }

    .btn.btn-default.white, .btn.btn-default.black {
        font-size: 15px;
        padding: 12px 36px;
    }

    .about p {
        font-size: 15px;
    }

    #leo-footer-center .panel-group .nav-links > li a {
        font-size: 13px;
    }

    .rtl .sidebar .block .title_block:after, .rtl
    #footer .footer-block .title_block:after {
        top: 5px;
    }

    .sidebar .block .title_block,
    #footer .footer-block .title_block {
        cursor: pointer;
        margin: 0 0 10px;
        padding: 10px 0px 10px 0px;
    }

    .sidebar .block .title_block:after,
    #footer .footer-block .title_block:after {
        background: none;
        content: "\f055";
        cursor: pointer;
        display: block;
        font-family: "FontAwesome";
        font-size: 18px;
        left: auto;
        position: absolute;
        right: 8px;
        top: 8px;
        width: auto;
    }

    .rtl .sidebar .block .title_block:after, .rtl
    #footer .footer-block .title_block:after {
        right: auto;
        left: auto;
    }

    .rtl .sidebar .block .title_block:after, .rtl
    #footer .footer-block .title_block:after {
        left: 8px;
        right: auto;
    }

    .sidebar .block .title_block.active:after,
    #footer .footer-block .title_block.active:after {
        content: "\f056";
    }

    #footer .footer-block {
        margin-top: 20px;
    }

    /*__________*/
    #breadcrumb {
        padding-top: 10px;
        margin-bottom: 0;
    }

    #columns #center_column {
        padding: 5% 15px;
    }

    .address li.address_update {
        display: inline-block;
    }

    #addresses section#center_column a.btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .address li.address_update a {
        width: 100px;
    }

    #addresses section#center_column .main-page-indent {
        right: auto;
        left: 15px;
        bottom: 10px;
    }

    #homepage-slider .homeslider-description p {
        display: none;
    }

    #homepage-slider .homeslider-description h2 {
        font-size: 22px;
    }

    #homepage-slider .bx-wrapper .bx-prev:after, #homepage-slider .bx-wrapper .bx-prev:before {
        background-size: 50%;
        background-repeat: no-repeat;
    }

    /* for this month heading */
    .this_month_heading .heading h3:before {
        max-width: 45%;
    }

    #product.category-bags #columns {
        padding-top: 20px;
    }

}

@media (max-width: 598px) {
    .openning-time {
        margin-bottom: 20px;
    }

    .rtl .blockcart_top {
        left: 10px;
        right: auto;
    }

    .product_list.grid .functional-buttons {
        bottom: 0;
        opacity: 1;
        filter: alpha(opacity=100);
        border-bottom: 1px solid #ededed;
    }

    .product_list.grid .functional-buttons .WhiteRounded {
        border-right: 1px solid #ededed;
    }

    .rtl .product_list.grid .functional-buttons .WhiteRounded {
        border-left: 1px solid #ededed;
        border-right: inherit;
    }

    .product_list.grid .functional-buttons .WhiteRounded:last-child {
        border-right: 1px solid transparent;
    }

    .rtl .product_list.grid .functional-buttons .WhiteRounded:last-child {
        border-left: 1px solid transparent;
        border-right: inherit;
    }

    .product_list.grid .product-block:hover .product-meta .content_price {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .product_list.grid .product-block:hover .functional-buttons {
        bottom: 0;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }

    .blockcart_top {
        margin: 10px 0;
        text-align: left;
    }

    .rtl .blockcart_top {
        text-align: right;
    }

    .block .widget-tabs li {
        display: block;
        width: 100%;
        border: none;
        padding: 10px;
        margin: 0 0 10px;
    }

    .block .widget-tabs li.active:before, .block .widget-tabs li:hover:before,
    .nav-tabs.page-product-heading li.active:before, .nav-tabs.page-product-heading li:hover:before {
        bottom: 0;
        left: 0;
    }

    .rtl .block .widget-tabs li.active:before, .rtl .block .widget-tabs li:hover:before, .rtl
    .nav-tabs.page-product-heading li.active:before, .rtl .nav-tabs.page-product-heading li:hover:before {
        right: 0;
        left: auto;
    }

    .nav-tabs.page-product-heading li {
        float: none;
        padding: 5px 0;
        border: none;
        margin: 0 0 10px;
    }

    .accessories-block .functional-buttons {
        margin-bottom: 20px;
    }

    #layer_cart .layer_cart_cart .button-container .btn, #layer_cart .layer_cart_cart .button-container .btn:hover {
        float: none !important;
        margin-bottom: 15px;
    }

    /***___________***/
    #homepage-slider .homeslider-description {
        top: 33%;
    }

    .sortPagiBar .col-md-8 {
        display: none;
    }

    .product-compare {
        padding-left: 0 !important;
    }
}

@media (max-width: 480px) {
    .block .widget-tabs li.active:before, .block .widget-tabs li:hover:before {
        bottom: -10px;
        left: 0;
    }

    .rtl .block .widget-tabs li.active:before, .rtl .block .widget-tabs li:hover:before {
        right: 0;
        left: auto;
    }

    .block .widget-tabs li {
        border: none;
        display: block;
        margin-bottom: 21px;
        padding: 0 20px 0 0;
    }

    .cart_navigation {
        text-align: center;
    }

    .cart_navigation .standard-checkout {
        float: none !important;
        margin-top: 10px;
    }

    .cart_navigation .button-medium {
        float: none !important;
        margin-top: 10px;
    }

    /*__________*/
    .breadcrumb a, .breadcrumb span {
        font-size: 12px;
    }

    #center_column .page-heading {
        font-size: 22px;
    }

    .btn-outline {
        /*font-size:12px;*/
        padding: 6px 12px;
    }

    #center_column p.info-title {
        text-align: center;
    }

    .cd-mob-chat-widget {
        padding: 3px !important;
        font-size: 14px !important;
    }

    .cd-mob-icon {
        margin: 0 10px !important;
    }

    .cd-mob-text {
        margin-right: 10px !important;
    }

    #search_block_top {
        margin-top: 85px !important;
    }

    .navbar-header .navbar-toggle {
        width: 35px;
        padding: 6px 10px;
    }

    .blockcart_top {
        /*	top:35px;
        */
        right: 0;
    }

    #topbar .topbar-box {
        top: 15px;
        right: 0;
    }

    #topbar .topbar-box .popup-content {
        left: auto;
        right: 0;
    }

    .addresses-lists-right, .addresses-lists-left {
        width: 100%;
    }

    .my-account .info-account {
        font-size: 15px;
        line-height: normal;
    }

    #block-history .table > thead:first-child > tr:first-child > th {
        font-size: 13px;
        padding: 10px;
    }

    .footable .footable-sortable .footable-sort-indicator:after {
        font-size: 10px;
        margin: 2px 0 0 2px;
    }

    #topbar .side-left {
        width: 100%;
    }

    #topbar .side-left .top-phrase-txt, #topbar .side-left .top-phrase-phone {
        font-size: 12px;
    }

    .address li.address_update {
        margin-bottom: 10px !important;
    }

    #thismonth .product_section .leather_product {
        text-align: center;
    }

    #thismonth .product_section .leather_product img {
        max-width: 100%;
    }
}
@media only screen and (max-width: 380px) {
    #search_block_top #searchbox {
        margin-left: 0;
        width: 160px;
    }
}
@media (max-width: 320px) {
    #thumbs_list {
        margin: 0 auto;
        width: 235px;
    }

    .rtl #thumbs_list {
        margin-right: 65px;
        margin-left: inherit;
    }

    #footer #newsletter_block_left .newsletter-input {
        width: 180px;
    }

    #header .cart_block {
        width: 283px;
    }

    .content_sortPagiBar .pagination ul {
        margin-top: 10px;
        margin-left: 0px;
    }

    .rtl .content_sortPagiBar .pagination ul {
        margin-right: 0px;
        margin-left: inherit;
    }
}

