/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}
#sitemap .sitemap_block li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}

#listpage_content ul.tree {
  padding-left: 24px;
}
#listpage_content ul.tree li {
  margin: 0 0 0 21px;
  padding: 5px 0 0 33px;
  border-left: 1px solid #e4e4e4;
  border-bottom: none;
  background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}
#listpage_content ul.tree li a:hover {
  font-weight: bold;
}
#listpage_content ul.tree > li {
  margin: 0 0 0 11px;
}
#listpage_content ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
#listpage_content div.tree_top {
  padding: 5px 0 0 27px;
}
#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
}
