/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
.blog_container {
  background: white;
  position: relative;
  margin-bottom: 20px;
}
.blog_container .blog-meta {
  font-size: 11px;
  margin-bottom: 15px;
  color: #999;
}
.blog_container .blog-meta > * {
  margin-right: 5px;
}
.rtl .blog_container .blog-meta > * {
  margin-left: 5px;
  margin-right: inherit;
}
.blog_container .blog-viewmore {
  margin-top: 20px;
  display: none;
}
.blog_container .blog-created {
  float: left;
  font-size: 11px;
}
.rtl .blog_container .blog-created {
  float: right;
}
.blog_container .blog-info h4 {
  margin: 0px 0 10px;
  line-height: 20px;
  min-height: 42px;
  overflow: hidden;
}
.blog_container .blog-info h4 a {
  font-size: 13px;
  font-family: "brandon_bold", sans-serif;
  color: black;
  text-transform: none;
}
.blog_container .blog-info h4 a:hover {
  color: #999999;
}
.blog_container .blog-shortinfo {
  font-size: 13px;
  color: #666;
}
.blog_container .blog-image {
  position: relative;
  overflow: hidden;
  float: left;
}
.rtl .blog_container .blog-image {
  float: right;
}
.blog_container .blog-image img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.blog_container .blog-image:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.blog_container .blog-info {
  float: left;
}
.rtl .blog_container .blog-info {
  float: right;
}

.blog-viewall {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Noticia Text", sans-serif;
  background: #f4f4f4;
  padding: 5px 10px;
  color: #858585;
  display: inline-block;
  margin-top: 20px;
}
.blog-viewall:hover {
  background: #666666;
  color: white;
}
.blog-viewall .fa {
  font-size: 10px;
  font-weight: normal;
}

.blockleoblogs .title_block {
  border: none;
  text-align: center;
  margin: 0 0 20px;
  padding: 0px 0 25px;
}
.blockleoblogs .title_block:before {
  background: url("images/bg-title-block-widget.png") no-repeat 0 0;
  content: "";
  position: absolute;
  width: 75px;
  height: 11px;
  bottom: 0;
  left: 50%;
  margin-left: -45px;
}
.rtl .blockleoblogs .title_block:before {
  right: 50%;
  left: auto;
}
.rtl .blockleoblogs .title_block:before {
  margin-right: -45px;
  margin-left: inherit;
}
.blockleoblogs .title_block:after {
  display: none;
}
