 
/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;   
    .#{$block-heading-selector}{
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
        padding: $block-module-heading-padding;         
        font-size: $block-module-heading-font-size;
        //border-top: $block-module-heading-border;
        margin: 0 0 $grid-gutter-width;  
        color: $block-module-heading-color;
        letter-spacing: 2px;
        
       
        a{
            color: $block-module-heading-color;
        }  

    }
    .#{$block-content-selector} {        
        padding: 0;
        @include clearfix();     
        background: $block-module-content-bg;             
    }
    /* block styles */  

    .lnk{
        padding: $panel-body-padding 0;
    }
}
.nopadding{
    .#{$block-content-selector}{
        padding: 0!important;
        margin: 0!important;
    }
}


// Contextual variations
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

// block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
.#{$block-prefix}-highlighted {
    @include block-variant($block-module-highlighted-border, $white, $block-module-highlighted-bg, $block-module-highlighted-border);
    .#{$block-heading-selector}{
            font-weight: normal;
            margin-bottom: 0;
            color: $white;
            background-color: $black;
            @include rtl-padding(5px, 10px, 7px, 10px);
            font-size: 13px;
        &:before {
                content: "\f0c9"!important;
                display: inline-block;
                font-family: 'FontAwesome';
        }

    }
    .list-block{
        li{
            a{
                text-transform: uppercase;
               font-family:$font-family-secondary;
            }
        }
    }
}

.#{$block-content-selector}{
    position: relative; 
    .carousel-control{
        left: auto;
        bottom: auto;
        z-index: 10;
        top: -40px;
        background: #eeeeee;
        color: $white;
        border: none;
        height: 24px;
        line-height: 23px;
        z-index: 100;
        &:hover{
            background: #b9b9b9;
            color: $white;
        }
    }
    .carousel-control.left{
        @include rtl-right(50%);
    }
    .carousel-control.right{
        @include rtl-left(50%);
    }
   
}
//carousel
.slide{
   .carousel-control{
      font-size: $font-size-base - 2;
      font-style: italic;
      line-height: 17px;
      width: 60px;
   }
   .carousel-control.left{
        background: url(#{$image-theme-base-path}icon_prev.png) no-repeat;

    }
    .carousel-control.right{
        background: url(#{$image-theme-base-path}icon_next.png) no-repeat;
        @include rtl-margin-left(2px);
    }
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size: 11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%;
    }   
}
 
.sidebar {
    .#{$block-selector} {
        .#{$block-heading-selector}{
            font-weight: normal;
              color: $white;
              background-color: $black;
              @include rtl-padding(10px, 10px, 10px, 10px);
              font-size: 13px;
              margin-bottom: 20px;
              font-family: $font-family-secondary;
            &:before {
                content: "\f005";
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 12px;
                color: #fff;
                vertical-align: middle;
                @include rtl-margin-right(5px);
                @include rtl-margin-left(8px);
              }
              a{
                color: $white;
              }
        }
    }
    .#{$app-brand-prefix}-custom {
       border:none;
       .#{$block-prefix}-heading {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-prefix}-content{
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    li{
        margin: 0;
        line-height: 26px;
        &:first-child{
            .product-block{
                border-top: none;
                padding-top: 0;
            }
        } 
    } 
    .product-block{
        border-width: 1px 0 0 0;
        border-style: solid none none none;
        border-color: $product-border-color;
        padding: 15px 0px;
        margin: 0;   
    }
    .#{$block-selector} {
        .#{$block-heading-selector}{

        }  
    }  
}
#header{
    .#{$block-selector}{
        margin-bottom: 0;
    }
    .#{$block-content-selector} {
        margin-bottom: 0;
        padding: 0;
        border: none;
        background: transparent;
    }    
}

.columns-container{
    padding-top: 40px;
}


/* block style in main content */
#content{
    .#{$app-brand-prefix}-custom {
        .#{$block-content-selector} {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-content-selector}{
            border:none;
        }
    }     
    .#{$block-content-selector}{
        padding:0;
        margin: 0;
    }
   
}
/* block style in footer */
.footer-container{
    .#{$block-prefix} {
        margin-bottom: 0;
        border: none;
        .#{$block-heading-selector}{
            border: none;
            color: $block-module-footer-heading-color;
            font-size: $footer-heading-font-size;
            @include rtl-padding(30px, 20px, 10px, 0px);
            background: transparent;
            font-weight: normal;

            &:after{
                display: none;
            }
            a{
                color: $block-module-footer-heading-color;
            }
        }
        .#{$block-content-selector}{
            border: none;
            padding: 0;
            background: none;
        }
    }
}

.footer-top {
     .#{$block-content-selector}, a {
       
    }
}

