.buttons{
  @include clearfix();
  padding: 20px 0; 
  .left{
       float: left;
  }
  .right{
      float: right;
  }

}

input[type="file"] {
  line-height: 20px;
}

.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $theme-color-default, $theme-color-default, $btn-default-color, $theme-color-secondary, $theme-color-secondary);
} 
.btn-outline{
  @include button-variant-outline($btn-default-color, $theme-color-secondary, $theme-color-secondary, $btn-default-color, $theme-color-default, $theme-color-default);
  text-transform: uppercase;
  padding: 8px 15px;
} 
input, select{
  outline: none;
}
.form-control{
  @include box-shadow(none);
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
  margin: 2px 4px 0 0 !important;
}

//=========box services 

.icon-box{
  font-size: 40px;
}

// dropdown effect
.e-scale{
  .popup-content{
    @include scale(0);
    @include transition(all 0.3s ease 0s);
  }
  &.popup-over:hover{
    .popup-content{
      @include scale(1);
      @include transition(all 0.3s ease 0s);
    }
  } 
}

.e-translate-left{ 
  .popup-content{
    @include opacity(0);
    @include translate(-200px, 0px);
    @include transition(all 0.3s ease 0s);
  }
  &.popup-over:hover{ 
    .popup-content{ 
      @include opacity(1);
      @include translate(0, 0);
      @include transition(all 0.3s ease 0s);
    }
  }
}

.e-translate-right{ 
  .popup-content{
    @include opacity(0);
    @include translate(200px, 0px);
    @include transition(all 0.3s ease 0s);
  }
  &.popup-over:hover{ 
    .popup-content{ 
      @include opacity(1);
      @include translate(0, 0);
      @include transition(all 0.3s ease 0s);
    }
  }
}

.e-translate-top{
  &.popup-over{
    .popup-content{
      @include opacity(0);
      @include translate(0, 15px);
      @include transition(all 0.4s ease 0s);
      visibility: hidden;
    }
  }
  /* &.popup-over:hover,&.popup-over:active,&.popup-over:focus, */&.popup-over.open{
    .popup-content{
      @include opacity(1);
      @include translate(0, 0);
      @include transition(all 0.4s ease 0s);
      visibility: visible;
    }
  }
}


.e-translate-down{
  .popup-content{
    @include opacity(0);
    height: 0;
    @include transition(all 0.3s ease 0s);
  }
  &.popup-over:hover{ 
    .popup-content{ 
      @include opacity(1);
      height: auto;
      @include transition(all 0.3s ease 0s);
    }
  }
}

// full screen background
.fs-style{position: relative; padding-top: 25px; padding-bottom: 25px;}
.fs-style:before{ 
  padding: 0 2000px;
  @include box-sizing(content-box);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 0;
  display: inline-block;
  top: 0;
  left: -2000px;
}
.fs-style1:before{background-image: url(#{$image-theme-base-path}patterns/full-screen/style-1.jpg);}
.fs-style2:before{background-image: url(#{$image-theme-base-path}patterns/full-screen/style-2.jpg);}
.fs-style3:before{background-image: url(#{$image-theme-base-path}patterns/full-screen/style-3.jpg);}