// header.scss


.logo{
	display: block;
}
//Fullslide
@media (min-width: $screen-sm-max){ 
.header-fullslide{
	.navbar-fixed-top{
		background: $body-bg;
		#topbar{
			&.hide-bar{
				padding: 0px;
				border: 1px solid transparent;
				@include transition(all 0.6s ease 0s);
			}
		}
	}
	.leo-megamenu{
		position: relative;
		margin-bottom: 0px;
       &:before{
       	  border-bottom: 2px solid $border-color;
		  border-top: 1px solid $base-border-color;
		  content:"";
		  position: absolute;
		  @include rtl-left(-690px);
		  width: 800px;
		  z-index: 99;
		  bottom: -2px;
		  height: 50px;
		}
	    &:after{
		  border-bottom: 2px solid $border-color;
		  border-top: 1px solid $base-border-color;
		  content:"";
		  position: absolute;
		  @include rtl-right(-500px);
		  width: 600px;
		  z-index: 99;
		  bottom: -2px;
		  height: 50px;
	    }
	}
	#slideshow{
		margin-top: 30px;
	}
}
}

// Header Modern
@media (min-width: $screen-sm-max){
	.header-modern{	
	#header_logo{
		@include rtl-float-left();
	}
	#header-main{
		@include rtl-float-left();
		max-width: 25%;
		position:absolute;
		top: 34px;
		@include transition(all 0.6s ease 0s);
		z-index: 9999;
		 #header_logo{
		 	img{
		 		max-width: 110px!important;
		 	}
		 }
		 &.mini-navbar{
		 	top: 0px;
		 	#header_logo{
		 		padding-top: 0px;
		 	}
		 }

	}
	#topbar{
		position: relative;
		&:before{
			position: absolute;
			content:"";
			 @include rtl-right(-500px);
		    width: 500px;
		    z-index: 99;
		    top: -5px;
		    border-top: 5px solid $border-color;
		    border-bottom: $topbar-border;
		    height: 58px;
		}
		&:after{
			position: absolute;
			content:"";
			@include rtl-left(-500px);
		    width: 500px;
		    z-index: 99;
		    top: -5px;
		    border-top: 5px solid $border-color;
		    border-bottom: $topbar-border;
		    height: 58px;
		}
	}
	#leo-mainnav{
		@include rtl-float-right();
		max-width: 89%;
		padding-top: 20px;
		padding-bottom: 20px;
		.leo-megamenu{
			border-bottom: 2px solid transparent;
			border-top: 1px solid transparent;
			margin-bottom: 0px;
			.navbar-nav{
				> li {
				&.active,
				&:hover{
				> a{
					border-right: 1px solid transparent;
					border-left: 1px solid transparent;
					z-index: 0;
					
				}
			   		 }
						}

			}
		}
	}
	#header{
		background: $body-bg;
		border-bottom: 2px solid $border-color;

	}
	.navbar-fixed-top{
		#topbar{
			&.hide-bar{
				padding: 0px;
				border: 1px solid transparent;
				@include transition(all 0.6s ease 0s);
				&:before{
					border: 1px solid transparent;
				}
				&:after{
					border: 1px solid transparent;
				}
			}
		}
	}
}

}

/**************************************Header-default**********************************/
@media (min-width: $screen-sm-max){
	.header-default{
		#header{
			.container{
					background: $body-bg;
			}
		}
	#topbar{
		&.hide-bar{
			padding: 0px;
			margin-top: -193px!important;
			@include transition(all 0.6s ease 0s);
		}
	}
	.leo-megamenu{
		margin-bottom: 0px;
	}
	#slideshow{
		margin-top: 30px;
	}
}
}



