/******************************************************
 * $package Leo Theme Framework for Leo THeme 1.6.x
 * $version 1.1
 * $author http://www.leotheme.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:leotheme$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
body{
    &.layout-boxed-md{
        background: $white;
        #page{  
            max-width: $container-desktop + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            .container {
                max-width: $container-desktop;
            }
        }  
        
    }
    &.layout-boxed-lg{
        #page{  
            max-width: $container-lg + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            .container {
                max-width: $container-lg;
            }
        }
    }
} 

.container{
    position: relative;
}

#page{
    overflow: hidden;
}
/*
* HEADER 
*/

#topbar  {
    min-height: $topbar-height; 
    font-weight: $topbar-font-weight; 
    font-size: $topbar-font-size;
    background: $topbar-outside-bg;
    font-family: $font-family-secondary;
    border-top: 5px solid $border-color;
    border-bottom: $topbar-border;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    .container > .inner{
        @include container-layout-variant($topbar-color, $topbar-bg, $topbar-link-color, $topbar-link-hover-color);    
    }
    a{
        color: $text-color;
        &:hover{
            color: $topbar-link-hover-color;
        }
    }
    .links{  
        //@include rtl-margin(6px, 0px, 6px, 0px); 
         li{
           // @include rtl-float-left();
            color: #ddd;
            line-height: 30px;
            a{
                @include rtl-margin(0px, 18px, 0px, 0px);
                color: $text-color;
                &:hover{
                    color: $theme-color-secondary;
                }
            }
        }   
    } 
    .links-outline{
        a{ color: $topbar-link-hover-color;}
    }
    .header_user_info .dropdown-toggle{
        display: none;
    }
    .topbar-box{
        position: relative;
        @include rtl-padding-right(10px);
        &:hover{
             .dropdown-menu{
                display: block;
            }
        }
        .popup-title{
            cursor: pointer;
        }
        .popup-content{
            padding: 10px;
            border: none;
            color: $white;
            margin: 0;
            background: $black;
            position: absolute;
            min-width: 160px;
            z-index: 10;
            a{
                color: $white;
                &:hover{
                    color: $link-hover-color;
                }
            }
            li{
                line-height: 24px;
                //@include rtl-float-left();
                &.selected{
                    a, span{
                        color: $link-hover-color;
                        font-size: $topbar-font-size;
                    }
                }
            }
        }
    }
    .btn-group{
        //padding: $topbar-padding;
        &:hover{
            cursor: pointer;
            color: $topbar-link-hover-color;
           
        }
    	&.dropdown-toggle{
	    	&:before{
				content: "\f107";
				position: absolute;
				top: 8px;
				@include rtl-right(3px);
				font-family: $font-icon;
                color: $topbar-icon-color;
	    	}
    	}
    }    
}

 
#header-main{
    min-height: 85px;
    padding-top: 20px;
    background: $headermain-outside-bg;
    .container > .inner{
        @include container-layout-variant($headermain-color, $headermain-bg, $headermain-color, $headermain-color-hover);   
        padding-top: 20px;
        padding-bottom: 20px;
    }
     #header_logo{
        text-align: center;
        padding: 20px 0px;
        a{
            display: inline-block;
            text-align: center;
            
        }
    }
    .header-wrap{
        min-height: 94px;
        margin: 0;
    }
    &.mini-navbar{ // float header
        .container > .inner{
            padding-top: 10px;
            padding-bottom:  10px;
       }
    }
}


##{$app-brand-prefix}-masshead {
   .container > .inner{
        @include container-layout-variant($masshead-color, $masshead-bg, $masshead-color, $masshead-color-hover);   
        padding: $masshead-content-padding;    
   }
}

/*
* NAVIGATION
*/
##{$app-brand-prefix}-megamenu {
    .container > .inner{
        border-top: 3px solid $megamenu-border-color;
        position: relative;
    }
}

/*
* SLIDESHOW 
*/
##{$app-brand-prefix}-slideshow {
    
}
/*
* SHOWCASE 
*/
##{$app-brand-prefix}-showcase {

}
/*
* PROMOTION TOP 
*/
##{$app-brand-prefix}-promotion {    
    
}
/*
* MAIN CONTENT
*/  
#content {
    min-height: 400px;
    margin-bottom: 25px;
}

.wrapper-danger{

}
.wrap-outline{

}

/*end*/
#bottom{
    margin-top: $grid-gutter-width;
}
/* FOOTER */
#footer{
    @include clearfix();
    background: $footer-bg;    
    min-height: $line-height-computed * 5;
    color: $footer-color;
    font-size: $footer-font-size;
    ul, ol {
        list-style: none;
    }
    position: relative;   
}

.footer-top{
    position: relative;
    background: $footer-top-outside-bg;
    border-bottom: $footer-top-outside-border;
    .container > .inner{
        @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, $footer-top-color-hover); 
        padding: $footer-top-content-padding; 
    }
    .#{$block-heading-selector},
    .#{$block-content-selector}{
        
    }
}
.footer-center{
    position: relative;
    background: $footer-center-outside-bg;
   .container > .inner{
        @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-color, $footer-center-color-hover);   
        padding: $footer-center-content-padding;    
        overflow: hidden;
        border-top: $footer-center-outside-border;
    }
}   
.footer-bottom{
    position: relative;
    background: $footer-bottom-outside-bg;
    font-size: $font-size-base;
   .container > .inner{
        @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-color, $footer-bottom-color-hover);   
        padding: $footer-bottom-content-padding;    
   }
}

.footer-nav{ // copyright
    @include rtl-text-align-left();
    position: relative;
    background: $footer-nav-outside-bg;
    color: $footer-nav-color;
   .container {
        border-top: $footer-nav-border; 
        border-bottom: 5px solid $border-color;
        > .inner{
            @include container-layout-variant($footer-nav-color, $footer-nav-bg, $footer-nav-color, $footer-nav-color-hover);   
            padding: $footer-nav-content-padding;
        }
    }
}
#powered{
    text-align: center;
    padding: 20px 0px;

    span{
        color: $power-link-color;
    }
}
#footnav{
    text-align: center;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 20px 0px 10px 0px;
    bottom: 0px;
    background: $white;
    z-index: 999;
    position: fixed;
}