//
// Navs
// --------------------------------------------------
.#{$app-brand-prefix}-megamenu {
	height: 50px;
	border-bottom: 2px solid $border-color;
	border-top: 1px solid $base-border-color;
	margin-bottom: 30px;
	.#{$app-brand-prefix}-colorbox{
		display: none !important;
	}
	.navbar-collapse{
		padding: 0;
		text-align: center;
	}
	.navbar{
		background: $megamenu-bg;
		border: 0;
		margin: 0;
		padding: 0;
		@include rounded-corners(0);
	}
	/* menu level 1 */
	.navbar-nav{
		float: none;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		height: 45px;
		> li {
			&.aligned-fullwidth {
				position: static;
				> .dropdown-menu  {
					width: 100% !important;
				}
			}
			&.aligned-right {
				.dropdown-menu  {
					right: 0;
					left: auto;
				}
			}
			&.aligned-left {
				.dropdown-menu  {
					left: 0;
					right: auto;
				}
			}
			&.aligned-center {
				.dropdown-menu  {
					left: 50%;
					@include translate(-50%, 0);
				}
			}
			> a{
				padding: $megamenu-parent-padding;				
				text-transform: $megamenu-parent-text-transform;		
				font-size: $megamenu-link-font-size;
				font-family: $megamenu-font-family;			
				color: $megamenu-link-color;
				letter-spacing: 2px;
				@include transition(all 350ms ease-out);
				border-right: 1px solid transparent;
				border-left: 1px solid transparent;
				&:hover,&:focus,&:active{					
					color: $megamenu-link-hover-color;				
					background: none;

				}
				&:before {
					background-color: transparent;
					content: "";
					height: 3px;
					left: 0;
					margin: 0 auto;
					position: absolute;
					right: 0;
					top: -3px;
					@include transition(all 0.4s ease-out 0s);
					width: 3px;
				}
			} 
			&.active,
			&:hover{
				> a{
					color: $megamenu-link-hover-color;				
					background: none;
					border-right: 1px solid $base-border-color;
					border-left: 1px solid $base-border-color;
					
				}
			}
			> .caret{
				position: relative;
				color: $megamenu-link-color;
				@include rtl-margin-left(5px);
			}	
			&:hover > .caret, &:active > .caret{
				color: $megamenu-link-hover-color;
			}
		} 		
	}
	/* level 2 */
	.dropdown-menu{			
		top: 100%;	
		left: -9999px;	
		height: auto;								
		font-weight: 300;		
		color: $megamenu-sub-text-color;	
		border: $megamenu-sub-border;
		min-width: $megamenu-sub-min-width;
		padding: $megamenu-sub-padding;
		background-color: $megamenu-sub-bg-color;
		font-family: $font-family;							
		@include rounded-corners($megamenu-sub-radius);							
		@include box-shadow($megamenu-sub-shadow);
		@include transition(opacity 0.3s linear 0s);
		text-align: left;

			
	    li{
	    	line-height: $line-height-computed + 12;
	    	@include rtl-text-align-left();
		    a{    
		    	color:$megamenu-sub-link-color;
			   	padding: 0;
			   	font-size: $megamenu-sub-font-size;
			   	line-height: $line-height-computed + 7;
			   	font-family: $font-family;			   	
			   	&:hover{
			   		background-color: transparent;
			   		color: $megamenu-sub-link-hover-color;			   		
			   		.fa{
			   			color: $megamenu-sub-link-hover-color;	   			
			   		}
			   	}
		    }		    
	    }		
		a > .menu-title{
			text-transform: none;
		}
	}
	.dropdown{		
		&:hover{
			> .dropdown-menu{						
    			display: block;
    			left: 0px;	
    										 		
			}
			> a{		
			color: $megamenu-link-hover-color;
				.fa{
					color: $megamenu-link-hover-color;
				}									
			}
		}		
	}
	/* level > 3 */
	.dropdown-submenu{
		position: relative;
		.dropdown-menu{						
			top: 0;		
			right: -100%;				
			left: auto;						
			position: absolute;
		}
		&:hover{
			> .dropdown-menu{	 
				display: block;	
				left: auto;
			    top: 0;											    									      			
			}
		}
	}
	.mega-group {		
		& > .dropdown-toggle {			
			border: 0;	
			display: block;			
			letter-spacing: 3px;				
			text-transform: uppercase;					
			font-family: $megamenu-heading-title-font-family;	
			color: $megamenu-heading-color;			
			.fa{
				color: $white;
			}
		}	
	}
 	.widget-title{
 		color:$megamenu-widget-title-color;
 	}	

	.megamenu .cols1{
		min-width: 200px;
	}
	.megamenu .cols2{
		min-width: 500px;
	}
	.megamenu .cols3{
		min-width: 740px;
	}
}

/*
 *
 * Vertical menu
 */
##{$app-brand-prefix}-verticalmenu{
 	// height: 47px;
 	// overflow: hidden;
 }

.megamenu{
	.quick-view,
   	.box-button{display: none;}
}
 div.active-hover{		
	ul{		
		> li{
			&:hover{
				> .dropdown-menu{							
					left: 100%;						
					top: -1px;
					@include opacity(1);
					display: block;					
				}
			}
		}
		&.left{
			> li{
				&:hover{
					> .dropdown-menu{
						left: auto;
						right: 100%;
					}
				}
			}
		}
	}
}

div.verticalmenu{	
	z-index: 100;
	.navbar-collapse, .navbar-vertical {
		margin: 0;
		padding: 0;
	}
	.navbar-nav{			
		position: static;		
		@include clearfloat();						
		> li{			
			@include size(100%,auto);
			position: static;
			border: 1px solid $nocolor;
			@include transition(all 0.8s ease-out 0s);
			&:last-child{
				> a{
					&:before{
						display: none;
					}
				}
			}																
			> a{
				display: block;
				color: $vertical-menu-color;
				font-size: $vertical-menu-font-size;				
				padding: $vertical-menu-link-padding;
				position: relative;		
				&:before{
					height: 1px;
		            width: 25px;
		            background-color: $border-color;
		            bottom: 0;
		            @include rtl-left(25px);
		            content: "";
		            position: absolute;
				}	
			}
			.caret{
				position: absolute;
				@include rtl-right(0);
				width: 20px;
				border: none;
				margin: -44px 0 0;
				height: 30px;
				display: inline-block;
				cursor: pointer;
				&:before{
					position: absolute;
					content: "\f105";
					font-family: $font-icon;
					color: $theme-color-secondary;
					font-size: 10px;
					font-weight: normal;
					left: 12px; 
					top: 12px;
				}
			}

			.dropdown-submenu .caret{
				top: 0;
			}

			&.last a ,&:last-child a{
				border: 0;
			}

			// Hover Effect
			&:hover{
				border-color: $vertical-border-color;
				@include rtl-padding-left(20px);
				> a{					
					color: $vertical-menu-link-hover-color;	
					&:before{
						@include opacity(0);
					}		
				}
				.caret{
					&:before{
						color: $theme-color-default;
					}
				}
			}
			&.open{
				> a{					
					color: $megamenu-sub-link-hover-color;	
					background: $white;	
					&:hover,&:focus{				
						color: $vertical-menu-link-hover-color;
						background: $white;
						border-color: $base-border-color;
					}		
				}
				> .caret{
					color: $theme-color-default;
				}
			}
			&.dropdown{
				&:hover{
					> a{
						&:after {
							border: 5px solid white;
							content: "";
							height: 100%;
							position: absolute;
							right: -10px;
							top: 0;
							width: 0;
							z-index: 9999;
						}	
					}
				}	
			}
			.parent{
				position: relative;
				> .dropdown-toggle{
					text-transform: none;					
					font-weight: normal;
					color: $vertical-sub-menu-link-color;
					&:hover{
						color: $theme-color-default;
					}					
				}
				
			}
		}
	}
	ul{
		li{
			a{
				.menu-icon{
					display: block;		
					@include rtl-background-position-left(center);			
					span{
						display: block;
						@include rtl-margin-left(25px);
					}
					.menu-desc{
						display: none;  
					}
				}	
				.sub-title{
					font-size: $vertical-font-size - 2; 	
				}
				&:hover,&:focus{
					.menu-title{
						color: $vertical-menu-link-hover-color;
					}					
					color: $vertical-menu-link-hover-color;
					background: $white;
				}
			}
		}
	}	
	.dropdown-menu{					
		left: -9999px;
		top: -9999px;
		right: auto;
		border: 1px solid $vertical-border-color;		
		min-height: 100%;	
		min-width: $vertical-sub-menu-width;
		padding: $vertical-sub-menu-padding;
		background: $vertical-sub-menu-bg; 												
		@include rounded-corners(0);					
		@include box-shadow(none);							
		ul{
			li{
				border: 0;				
				padding: 4px 0;
				line-height: normal;
				list-style: none;
				line-height: 20px;
				a{
					color: $vertical-sub-menu-link-color;
					font-size: $vertical-sub-menu-link-font-size;	
					padding: 0;
					&:hover{
						color: $vertical-menu-link-hover-color;
					}
				}
			}
		}
		p{
			line-height: 18px;
			font-size: $vertical-sub-menu-link-font-size;
		}
		.#{$app-brand-prefix}-menu-video{
			width: 100%;
			iframe{
				margin-bottom: $padding-small-horizontal;
			}
		}	
		.dropdown-toggle{
			&:hover{
				color: $vertical-sub-menu-heading-color;
			}
		}	
		.dropdown-toggle{			
			font-weight: bold;
			text-transform: uppercase;					
			line-height: normal;
			color: $vertical-sub-menu-heading-color;
			font-family: $vertical-sub-menu-link-font-family;
			font-size: $vertical-sub-menu-link-font-size;
		}
		.action {
			display: none;
		}
	}
	.widget-heading{
		color: $vertical-sub-menu-heading-color;
		text-transform: uppercase;
		font-size: $vertical-font-size;
		font-family: $font-family-septenary;
		margin-bottom: 10px;
	} 
}


/*** widgets using inside megamenu ***/

.#{$app-brand-prefix}-widget{
	.menu-title{
 		color: $megamenu-widget-title-color;
 		margin-bottom: 15px;
		text-transform: $megamenu-parent-text-transform;	
		font-family: $megamenu-heading-title-font-family;
		font-size: 14px;
		letter-spacing: 2px;
		@include rtl-text-align-left();
 	}
 	p{
 		color:#999999;
 		font-size: 16px;
 	}
 	.quick-view,
   	.box-button{
   		display: none;
   	}
	.product-block{
	 	@include rtl-float-left();
 		text-align: center;
		@include rtl-margin-right(10px);
		width: 179px;
		border: none;
		background: transparent;
	 	&:last-child{
			@include rtl-margin-right(0);
		}
		.left-block{
			.content_price{
				display: none !important;
			}
		}
	 	img{ 	
	 	 	display: inline-block;
	 	}
	 	.new-box,
	 	.sale-box{
 			display: none;
 		}
	 	.product-meta{
	 		margin-bottom: 15px;
	 		.name{
	 			margin: 0 0 10px;
	 			display: inline-block;
	 			a{
	 				font-size: 16px;
	 				color: $megamenu-sub-link-color;
	 				&:hover{
		 				color: $product-name-hover-color;
		 			}
	 			}
	 		}
	 		.content_price{
	 			float: none;
	 			margin-bottom: 10px;
	 			&:before{
	 				display: none;
	 			}
	 			.price-percent-reduction{
	 				display: inline-block;
	 				height: 26px;
	 				line-height: 20px;
	 			}
	 		}
	 		.product-rating{
	 			float: none;
	 		}
	 	}
	 	.functional-buttons{
	 		display: none;
	 	}
	}
}

.#{$app-brand-prefix}-megamenu {
	.#{$app-brand-prefix}-widget{
		.product-block{
			float: none;
			width: 100%;
			margin: 0;
			@include rtl-text-align-left();
			.image{
				display: inline;
			}
			img{
				@include rtl-float-left();
				height: 95px;
				width: 75px;
				@include rtl-margin-right(5px);
			}
			.product-meta{
				display: inline;
				padding: 0;
				@include rtl-text-align-left();
				.name a{
					font-size: 16px;
				}
			}
			.product-container{
				margin-bottom: 10px;
			}
			.price{
				font-size: 14px;
				color: $white;
			}
			.old-price{
				display: none;
			}
	    }
	}
}

/* CANVAS MENU */
#off-canvas-button{
	text-align: right; 
	color: #fff;
	margin: 5px;
	font-size: 17px;
	&:hover{
		cursor: pointer;
	}
}
.off-canvas body {
  position: relative;
}

.off-canvas-inactive #page,
.off-canvas-inactive #off-canvas-nav {
  @include transition(all 500ms ease 0s);
  @include translate(0, 0);
}

.off-canvas-active > #page,
.off-canvas-active > #off-canvas-nav {
  @include transition(all 500ms ease 0s);
  @include translate(234px, 0);
  display: block;
}

.off-canvas-active {
	#page {
	  //position: fixed;
	  margin: 0 auto;
	}
	#off-canvas-nav .navbar-nav .open .dropdown-menu {
	  background: white;
	}
}
#off-canvas-nav {
  position: absolute;
  left: 0;
  display: none;
  top: 0;
  width: 0;
  background: white;
  z-index: 999;
  font-family: $font-family-tertiary;
  .navbar-nav > li > a{
  	color: #fff!important;
  }
	.nav .caret {
	  	float: right;
		width: 10px;
		height: 10px;
		margin-top: 10px;
		display: none;
	}
	.ct_menu a.shop-now {
	  display: block;
	  margin: 10px;
	}
	.ct_menu a.shop-now:hover {
	  color: #fff;
	}
	.offcanvas-mainnav {
	  background-color: $theme-color-default;
	  position: absolute;
	  top: 0;
	  left: -234px;
	  overflow: hidden;
	  width: 234px;
	}
	.dropdown-menu{ 
		font-size: $font-size-base - 1;
		position: relative;
		display: inline-block;
		left: 0;
		right: 0;
		top: 0;
		float: none;
		margin: 0;
		@include box-shadow(none);
		width: 100%!important;
		border: 0;
		padding: 10px;
		@include translate(0, 0);

	}
	.navbar-nav{
		margin: 0 !important;
	}
	ul.nav-links{
		@include rtl-padding(3px, 3px, 3px, 7px);
		li{
		}
	}
	.mega-col {
	    display: block;
	    margin-left: 0;
	    position: relative;
	    width: 100%;
	}
}

@media (min-width: $screen-md - 1 ){ // 991px
	// Menu Canvas
	.off-canvas-active > #page,
	.off-canvas-active > #off-canvas-nav{		
  		@include translate(0, 0);
		position: relative !important;
	}
	#off-canvas-button{ 
		display: none !important;
	}
}

// float menubar

.float-vertical {
	position: relative;
	margin-bottom: 0;
	.float-vertical-button{
		padding-top: 20px;
		padding-bottom: 20px;
		@include rtl-padding-left(15px);
		cursor: pointer;
		i{
			@include rtl-margin-right(10px);
		}
	}
}
.float-vertical.active{
	// margin-bottom: $grid-gutter-width;
	> .block_content{
		position:absolute;
		z-index:30;
		height:auto;
		overflow: visible;
		width: 100%;
		border: 1px solid $base-border-color;
		@include transition(height 0.4s ease 0s);
	}
} 