/* mini basket */
#cart{        
    position: relative;
    .title-cart{
        color: $cart-heading-color;
        font-family: $cart-heading-font-family;
        text-transform: uppercase;
        font-size: $cart-heading-font-size;
        line-height: 25px;
        margin: 0;
        &:before{
            background: url("#{$image-base-path}icon-shopping-cart.png") no-repeat center center $cart-icon-bg;
            content: "";
            width: 32px;
            height: 32px;
            position: absolute;
            @include rtl-left(0);
        }
    }
    .cart-inner{
        font-size: $cart-heading-font-size;
    }
    .content {
        clear: both;
        display: block;
        position: absolute;
        top: 100%;
        right: $cart-align-right;
        left: auto;
        padding: 15px;
        min-height: 100px;      
        height: 100px;
        height: auto !important;      
        background: $white;
        border: 1px solid $border-color;
        z-index: 99999;
        min-width: $cart-content-width;
        @include rounded-corners(0px); 
        @include box-shadow(none); 
        display: none;

    }  
    &.active{
        .content{
            display: block;
        }
    }      
    .heading {     
        @include clearfix();  
        position: relative;
        overflow: visible;
        a{
            display: inline-block;
            @include rtl-padding-left(50px);
        }
    }

    .checkout {
        text-align: right;
        clear: both;
    }
    .empty {
        padding-top: 20px;
        text-align: center;
    }

    .mini-cart-total {
        text-align: right;
        td {
            color: #000;
            padding: 4px;
        }
        table {
            border-collapse: collapse;
            @include inline-block();
            margin-bottom: 5px;
        }
    }
    .mini-cart-info {
        .quantity {
            text-align: right;
        }
        .name {
            small {
                color: #666;
            }
            font-size: $cart-product-font-size;
            font-weight: bold;
        }
        td {
            color: #000;
            vertical-align: top;
            padding: 6px;
            border-bottom: 1px solid $border-color;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 5px;
        }
        .image {
            width: 1px;
            img {            
                text-align: left;
            }
        }
        .remove {
            text-align: right;
            img {
                cursor: pointer;
            }
        }
        td.total {
            text-align: right;
        }
    }

}
